<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
  <div class="login-register-box">
    <mat-card>
      <mat-card-content *ngIf="!confirmation">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <div class="text-center">
            <img alt="homepage" src="https://panaroamer-theming-test.s3.us-east-2.amazonaws.com/Panaroamer/assets/Sports/Group-221.png">
            <h4 class="m-t-0">{{'forgotPassword.RecoverPass' | translate}}</h4>
          </div>
          <p class="text-center font-14">{{'forgotPassword.headerPassText' | translate}}</p>

          <div fxLayout="column" fxLayoutAlign="space-around">
            <div class="pb-1">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="{{'forgotPassword.UsernamePlaceHolder' | translate}}" type="email" [formControl]="form.controls['username']">
              </mat-form-field>
              <small *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched" class="text-danger support-text">You must include an email address.</small>
              <small *ngIf="form.controls['username'].errors?.email && form.controls['username'].touched" class="text-danger support-text">You must include a valid email address.</small>
            </div>
            <button mat-raised-button color="primary" type="submit" class="btn-block btn-lg m-t-20" [disabled]="!form.valid">{{'forgotPassword.SubmitButton' | translate}}</button>
          </div>
        </form>
      </mat-card-content>

      <mat-card-content *ngIf="confirmation">
        <form [formGroup]="forgotPass" (ngSubmit)="onConfirm(forgotPass.value)">
          <div class="text-center">
            <img alt="homepage" src="https://panaroamer-theming-test.s3.us-east-2.amazonaws.com/Panaroamer/assets/Sports/Group-221.png">
            <h4 class="m-t-0">{{'forgotPassword.RecoverPass' | translate}}</h4>
          </div>
          <p class="text-center font-14">{{'forgotPassword.headerText' | translate}}</p>

          <div fxLayout="column" fxLayoutAlign="space-around">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput formControlName="confirmCode" class="form-input" placeholder='{{"registration.SubmitButtonCodePlaceHolder" | translate}}' type='text' required>
              </mat-form-field>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="{{'forgotPassword.NewPasswordPlaceHolder' | translate}}" [formControl]="forgotPass.controls['password']">
                <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <small *ngIf="forgotPass.controls['password'].hasError('required') && forgotPass.controls['password'].touched" class="text-danger support-text">You must include password.</small>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="{{'forgotPassword.ConfirmNewPasswordPlaceHolder' | translate}}" [formControl]="forgotPass.controls['confirmPassword']" [type]="hideConfirm ? 'password' : 'text'">
                <button mat-icon-button matSuffix type="button" (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                  <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <small *ngIf="forgotPass.controls['confirmPassword'].hasError('required') && forgotPass.controls['confirmPassword'].touched" class="text-danger support-text">You must include confirm password.</small>
              <small *ngIf="forgotPass.controls['confirmPassword'].errors?.equalTo" class="text-danger support-text">Passwords do not math.</small>
            </div>
            <button mat-raised-button color="primary" type="submit" class="btn-block btn-lg m-t-20" [disabled]="!forgotPass.valid">
              {{'forgotPassword.ResetPasswordButton' | translate}}
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
