mat-card {
  min-width: 300px;
}

.topbar{
  position: absolute;
  top:0;
  background-color: transparent;
  box-shadow: none;
}

.settings-icon{
  position: absolute;
  right: 0;
}

.chat-panel{
  margin-top:50px;
}
.displayPanel{
  display: block;
}
.hidePanel{
  display: none;
}