<div fxLayout="row wrap">
  <!-- Card column -->
  <div fxFlex="100">
      <mat-card>
          <mat-card-content>
            <angular-scheduling
             [view]="ipScheduleInterface.view"
             [columns]="[]"
             [viewDate]="ipScheduleInterface.viewDate" 
             [IsClickable]="false"
             [IsDraggable]="true"
             [IsDeletable]="true"
             [dark]="utility.dark"
            >
            </angular-scheduling>
          </mat-card-content>
      </mat-card>
  </div>
</div> 
