
<div fxLayout="row wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card class="builder">
      <mat-card-content>
        <mat-card-title>{{'quickBuild.Title' | translate}}</mat-card-title>
        <mat-vertical-stepper [linear]="false" (selectionChange) = 'open($event)'>
          <!-- <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>{{'quickBuild.Step1Title' | translate}}</ng-template>
              <mat-form-field>
                <input matInput autocomplete="off" placeholder="{{'quickBuild.PresentationTitlePlaceHolder' | translate}}" formControlName="title" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="{{'quickBuild.PresentationDescriptionPlaceHolder' | translate}}" formControlName="description">
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="{{'quickBuild.DefaultPlaceHolder' | translate}}">
                  <mat-option value="option">{{'quickBuild.InfrastructureOptionText' | translate}}</mat-option>
                  <mat-option value="option">{{'quickBuild.NatureOptionText' | translate}}</mat-option>
                  <mat-option value="option">{{'quickBuild.HappyFacesOptionText' | translate}}</mat-option>
                  <mat-option value="option">{{'quickBuild.StoreOptionText' | translate}}</mat-option>
                  <mat-option value="option">{{'quickBuild.ElectronicsOptionText' | translate}}</mat-option>
                  <mat-option value="option">{{'quickBuild.FoodOptionText' | translate}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="{{'quickBuild.PresentationPricePlaceHolder' | translate}}" formControlName="price">
              </mat-form-field>
              <div class="text-right">
                <button mat-raised-button color="warn" (click)="setInfo()" matStepperNext>{{'quickBuild.NextButton' | translate}}</button>
              </div>
            </form>
          </mat-step> -->
         
          <mat-step> 
            <form [formGroup]="builder.secondFormGroup">
              <input autocomplete="off" formControlName="images" style="width: 0;height: 0;opacity: 0;">
              <ng-template matStepLabel>
                <div>{{'Content Pages' | translate}}</div></ng-template>
                <mat-expansion-panel [(expanded)]="builder.openPanel">
                  <mat-expansion-panel-header> 
                   
                  </mat-expansion-panel-header>
                  <app-preview-slide [Ip]="builder.ip" (addedPage)="addedPage($event)" (slidesLength)="getSlidesLength($event)" (uploadData)="getS3upload($event)"></app-preview-slide>
                </mat-expansion-panel>
              <!-- <div class="text-right">
                <button mat-raised-button class="m-r-10" color="accent" matStepperPrevious>{{'quickBuild.BackButton' | translate}}</button>
                <button mat-raised-button color="warn" [disabled]="!slidesLength" matStepperNext>{{'quickBuild.NextButton' | translate}}</button>
              </div> -->
            </form>
          </mat-step>
          <mat-step>
            <form>
              <ng-template matStepLabel>{{'Cover Page' | translate}}</ng-template>
              <mat-expansion-panel [(expanded)]="builder.openCoverpagePanel">
                <mat-expansion-panel-header>
                </mat-expansion-panel-header>
                <div class="builder-container" *ngIf="!utility.coverImageUrl">
                  <div class="text-center">
                    <h4>{{'quickBuild.CoverImageTitle' | translate}}</h4>
                    <button mat-raised-button class="add-file m-t-10 m-r-10 m-b-10" color="primary">
                      <mat-label>
                        <input type="file" (change)="addCoverImage($event.target.files)" name="add-cover-image" id="add-cover-image" multiple accept="image/gif, image/png, image/jpeg, image/bmp, image/webp" />
                        <label style="margin: 0;" for="add-cover-image">{{'quickBuild.UploadCoverImageText' | translate}}</label>
                      </mat-label>
                    </button>
                    <!-- <button mat-raised-button disabled class="m-t-10 m-b-10" color="warn">{{'quickBuild.PreviewAndPublishButton' | translate}}</button> -->
                  </div>
                </div>
                <div *ngIf="utility.coverImageUrl">
                  <figure class="filter-{{utility.coverFilter}} text-center m-t-10" (click)="updateCoverImage()">
                    <span>
                      <img class="image-cover" [src]="utility.coverImageUrl" alt="img">
                    </span>
                  </figure>
                  <div class="text-center m-t-10 m-b-10">
                    <button mat-raised-button class="add-file m-r-10 m-b-10" color="primary">
                      <mat-label>
                        <input type="file" (change)="addCoverImage($event.target.files)" name="add-cover-image" id="add-cover-image" multiple accept="image/gif, image/png, image/jpeg, image/bmp, image/webp" />
                        <label style="margin: 0;" for="add-cover-image">{{'quickBuild.ChangeCoverImageText' | translate}}</label>
                      </mat-label>
                    </button>
                  </div>
                </div>
                <!-- <div class="text-right">
                  <button mat-raised-button class="m-r-10" color="accent" matStepperPrevious>{{'quickBuild.BackButton' | translate}}</button>
                </div> -->
              </mat-expansion-panel>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>{{'Final' | translate}}</ng-template>
            <mat-expansion-panel [(expanded)]="builder.openPreviewPanel">
              <mat-expansion-panel-header>
              </mat-expansion-panel-header>
              <div fxLayout="row" class="m-t-10" fxLayoutAlign="center center">
                <button mat-raised-button [disabled]="!builder.slidesLength || !utility.coverImageUrl" color="warn" (click)="showPreview()"
                  class=" m-b-10">{{'quickBuild.PreviewAndPublishButton' | translate}}</button>
              </div>
            </mat-expansion-panel>
          </mat-step>
          </mat-vertical-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>
