.builder-container {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-file {
  mat-label {
    cursor: pointer;
    input[type="file"] {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      width: 100%;
      left: 0;
      height: 100%;
    }
  }
}

mat-card {
  @media only screen and (max-width: 768px) {
    margin: 0px;
  }

  mat-vertical-stepper {
    ::ng-deep {
      .mat-vertical-stepper-header {
        padding: 24px 0px;
      }
      .mat-stepper-vertical-line::before {
        left: -24px;
      }
      .mat-vertical-content {
        @media only screen and (max-width: 768px) {
          padding: 0 0 20px 0;
        }
      }
    }
  }
}

.image-cover {
  max-width: 700px;
  max-height: 400px;

  @media only screen and (max-width: 700px) {
    max-width: 100%;
    max-height: 500px;
  }
}
.mat-card-wrapper .mat-card .mat-card-image {
  height: 250px;
}
.mat-card-wrapper mat-card-content {
  padding: 0 10px 5px !important;
}
.mat-card-wrapper .mat-form-field.search {
  padding: 0 20px;
}
.mat-card-wrapper .mat-card .mat-card-header {
  ::ng-deep {
    .mat-card-header-text {
      margin: 0;
    }
  }
  .mat-card-title {
    font-size: 14px;
  }
}
.mat-card-wrapper mat-card {
  padding-top: 0px !important;
  margin-right: 10px;
}
.text-title {
  font-weight: 500;
  color: blue;
}
