<div class="cross d-flex" fxLayout="row" (click)="closeModal()" fxLayoutAlign="center center">
  <mat-icon>close</mat-icon>
</div>
<angular-calendar-recurrence
  (cancelEvent)="cancel($event)"
  (recurrData)="rruledata($event)">
</angular-calendar-recurrence>
