.preview-slide {
  .builder-container {
    min-height: 300px;
  }

  .wrapper {
    display: flex;
    background: #383838;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    // inexplicable/unknown extra space is rendered, causing scrollbars to show up
    overflow: hidden;
  }

  .clear-btn {
    min-width: 108px;
  }

  .add-file {
    @media only screen and (max-width: 700px) {
      margin-bottom: 10px;
    }

    mat-label {
      cursor: pointer;

      input[type="file"] {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        width: 100%;
        left: 0;
        height: 100%;
      }
    }
  }

  .slides-list {
    .slide-image {
      max-width: 100%;
      max-height: 200px;

      @media only screen and (max-width: 700px) {
        width: 100%;
      }
    }

    .video-prev {
      height: auto;
      width: 100%;
      max-height: 220px;
      object-fit: fill;
    }

    .right {
      @media only screen and (max-width: 700px) {
        padding-bottom: 20px;
      }

      mat-icon {
        cursor: pointer;
        font-size: 30px;
      }

      .audio-play {
        audio {
          @media only screen and (max-width: 700px) {
            max-width: 240px;
          }
        }

        mat-icon {
          cursor: pointer;
          font-size: 24px;
        }
      }

      .wave-container {
        .audio-record {
          max-width: 400px;

          @media only screen and (max-width: 700px) {
            max-width: 250px;
          }
        }

        .btm-cntrl {
          position: absolute;
          top: 49px;
          right: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        @media only screen and (max-width: 767px) {
          .btm-cntrl {
            right: 10px;
          }
        }

        .btm-cntrl img {
          margin: 0px 8px 0 0 !important;
        }

        .btm-cntrl .play-pause {
          z-index: 100000;
          top: 4px;
          position: relative;
        }

        .pauseicn {
          width: 25px !important;
          height: 16px !important;
        }

        .playicn {
          width: 12px !important;
          height: 12px !important;
          right: 5px;
        }
      }

      .isAssets {
        margin: 0 !important;
        max-width: 24px;

        mat-icon {
          color: #00c851;
        }
      }

      .sound-icon {
        max-width: 32px;

        &.isMusic {
          mat-icon {
            color: #00c851;
          }
        }

        input[type="file"] {
          display: none;
        }
      }
    }
  }
}

.video-upload {
  display: none;
}

.webcam-wrapper video {
  width: 100% !important;
}

.isEffects {
  color: #00c851;
}

.h-100 {
  height: 100%;
}

#myvideo {
  left: 0;
  position: fixed;
  height: 100vh;
  top: 0px;
  z-index: 100000;
  width: 100%;
  margin: 0;
}

.rcrd-cntrl {
  position: fixed;
  bottom: 50px;
  z-index: 100000;
  left: 43%;
  height: 40px;
  width: 40px;
  text-align: center;
}

.rcrd-pause {
  position: fixed;
  bottom: 31px;
  z-index: 100000;
  left: 20%;
  text-align: center;
}

.rcrd-pause img {
  height: 50px;
}

.rcrd-flip {
  position: fixed;
  bottom: 37px;
  z-index: 100000;
  left: 70%;
  text-align: center;
}

.cancel-recording {
  position: fixed;
  top: 15px;
  z-index: 100000;
  right: 15px;
  cursor: pointer;
  text-align: center;
}

.cancel-recording img {
  width: 35px;
}

.mat-menu-item .mat-icon {
  margin-right: 8px !important;
}
