<div class="preview-slide m-t-10 m-b-10">
  <div class="builder-container d-flex" fxLayoutAlign="center center" *ngIf="!previewSlide.slides.length">
    <div class="text-center">
      <h4>{{'previewImages.TitleText' | translate}}</h4>
      <button mat-raised-button #menuImg="matMenuTrigger" (menuOpened)="menuOpen('step1')" (menuClosed)="menuClose('step1')" [matMenuTriggerFor]="menuImage" class="add-file m-r-10" color="primary">
        <mat-label>
          {{'previewImages.AddFileLabel' | translate}}
        </mat-label>
      </button>
      <mat-menu #menuImage="matMenu">
        <button mat-menu-item>
          <mat-icon>collections</mat-icon><input type="file" #forImage name="add-image" class="video-upload" multiple (change)="addFile($event)" id="add-image"
          accept="image/gif, image/png, image/jpeg, image/bmp, image/webp" />
          <label for="add-image" class="mb-0">{{'Gallery' | translate}}</label>
        </button>
       <button mat-menu-item (click)="capture()"><mat-icon>camera_enhance</mat-icon>{{'Take Picture' | translate}}</button>
      </mat-menu> 

      <button class="add-file m-r-10 m-t-10" mat-raised-button [ngStyle]="{'display': previewSlide.isIos ? 'inline-block' : 'none'}" color="primary">
        <mat-label>
          <input type="file"  multiple class="video-upload" id="video1" #forVideo (change)="addVideos($event)" accept="video/mp4,video/webm,video/ogg">
          {{'previewImages.AddVideoLabel' | translate}}
        </mat-label>
      </button>
      <ng-container *ngIf="!previewSlide.isIos">
        <button mat-raised-button #menuvideo="matMenuTrigger" (menuOpened)="menuOpen('step2')" (menuClosed)="menuClose('step2')" [matMenuTriggerFor]="menuVideo" class="add-file m-r-10" color="primary">
          <mat-label>
            {{'previewImages.AddVideoLabel' | translate}}
          </mat-label>
        </button>
        <mat-menu #menuVideo="matMenu">
          <button mat-menu-item>
            <mat-icon>collections</mat-icon>
            <input type="file" #myInput multiple class="video-upload" id="video1" (change)="addVideos($event)" accept="video/mp4,video/webm,video/ogg">
            <label for="video1" class="mb-0">{{'Gallery' | translate}}</label>
          </button>
          <button mat-menu-item (click)="recordVid()"><mat-icon>radio_button_checked</mat-icon>{{'previewImages.sound.Record' | translate}}</button>
        </mat-menu>
      </ng-container>
      <button class="add-file m-r-10 m-t-10" mat-raised-button (click)="addRouteForSurvey()" color="primary">
        <mat-label>
          {{'Add Survey' | translate}}
        </mat-label>
      </button>
    </div>
  </div>
  <div class="slides-list" *ngIf="previewSlide.slides.length">
    <div class="slides" cdkDropList (cdkDropListDropped)="drop($event)" fxLayout="column" fxLayoutGap="20px" fxLayoutGap.lt-sm="0px">
      <div class="slide" cdkDrag  *ngFor="let item of previewSlide.slides;let i = index">
        <div class="slide-container" fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100">
          <div class="left" cdkDragHandle fxLayoutAlign="center center" fxFlex="50">
            <figure class="filter-{{item.filterType}}" (click)="updateImage(item, i)" *ngIf="item.type == 'image'">
              <img class="slide-image" [src]="item.url" alt="img">
            </figure>
            <figure class="filter-{{item.filterType}}" *ngIf="item.type == 'survey'">
              <img class="slide-image" src="assets/images/surveyPlaceholderHeader.png" alt="img">
            </figure>
            <ng-container *ngIf="item.type == 'video'">
              <video width="170" class="video-prev" disablepictureinpicture controlslist="nodownload noremoteplayback"
                controls id="playerVideo{{i}}">
                <source [src]="item.safeurl" type='video/webm' />
                <source [src]="item.safeurl" type='video/mp4' />
                <source [src]="item.safeurl" type='video/ogg' />
              </video>
              <!-- <img src="assets/icons/fullscreen.png" class="full-scrn" (click)="fullscrn(i)"> -->
            </ng-container>
            <!-- <img class="slide-image" src="assets/images/background/user-info.jpg" alt="" /> -->
          </div>
          <div class="right m-b-20" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" fxFlex="50">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
              <!-- Sound -->
              <mat-icon *ngIf="item.type == 'survey'" (click)="playSurvey(item)">play_arrow</mat-icon>
              <div class="sound-icon" [ngClass]="{'isMusic': item.music }">
                <button mat-icon-button #menuAudio="matMenuTrigger" (menuOpened)="menuOpen('step3')" (menuClosed)="menuClose('step3')" [matMenuTriggerFor]="menu">
                  <mat-icon id="addSound">volume_up</mat-icon>
                  <input type="file" id="file-input_{{i}}" accept="audio/mp3,audio/*;capture=microphone"
                    (change)="selectMp3($event, item, menuAudio, i)" />
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>collections</mat-icon>
                    <label for="file-input_{{i}}" class="mb-0">{{'Gallery' | translate}}</label>
                  </button>
                  <button mat-menu-item (click)="openRecorder(item, i)"><mat-icon>record_voice_over</mat-icon>{{'previewImages.sound.Record' | translate}}</button>
                  <button mat-menu-item *ngIf="item.music" (click)="item.isPlay = true"><mat-icon>play_arrow</mat-icon>Play</button>
                </mat-menu>
              </div>

              <!-- Survey -->
              <!-- <mat-icon id="addSurvey" (click)="openAssets(item)" *ngIf="!selectItemsFrom.includes(item.id)">help_outline</mat-icon>
              <ng-container *ngIf="selectItemsFrom.includes(item.id)">
                <button class="isAssets" mat-icon-button #trigger="matMenuTrigger" [matMenuTriggerFor]="menuSurvey">
                  <mat-icon>help_outline</mat-icon>
                </button>
                <mat-menu #menuSurvey="matMenu">
                  <button mat-menu-item (click)="openAssets(item)">{{'previewImages.SelectSurvey' | translate}}</button>
                  <button mat-menu-item (click)="removeSurvey(item)">{{'previewImages.RemoveSurvey' | translate}}</button>
                </mat-menu>
              </ng-container> -->

              <!-- Edit -->
              <mat-icon id="edit">edit</mat-icon>

              <!-- Effects -->
              <mat-icon id="addInteraction" *ngIf="!item?.effects || !item?.effects.length" (click)="openInteraction(item, i,'false')" fontSet="material-icons-outlined">swap_horizontal_circle</mat-icon>
              <mat-icon class="isEffects" *ngIf="item?.effects && item?.effects.length" (click)="openInteraction(item, i,'false')" fontSet="material-icons-outlined">swap_horizontal_circle</mat-icon>

              <!-- Remove -->
              <mat-icon id="remove" (click)="deleteItem(item.id,item)">delete</mat-icon>
            </div>
            <div class="wave-container m-t-10" [ngStyle]="{'position': 'relative', 'display': previewSlide.id==item.id ? 'block' : 'none'}">
              <audio id="myAudio{{item.id}}" class="video-js audio-record vjs-default-skin parent-audio"></audio>
              <div class="btm-cntrl">
                <img [src]="'https://panaroamer-theming-test.s3.us-east-2.amazonaws.com/Panaroamer/assets/Default/pause.png'" *ngIf="item.startRecord && !item.isRecording"
                  class="play-pause pauseicn" (click)="playPause(item)">
                <img [src]="'https://panaroamer-theming-test.s3.us-east-2.amazonaws.com/Panaroamer/assets/Default/play-audio.png'" *ngIf="item.startRecord && item.isRecording"
                  class="play-pause playicn" (click)="playPause(item)">
                <img [src]="'https://panaroamer-theming-test.s3.us-east-2.amazonaws.com/Panaroamer/assets/Default/cancel-audio.png'" class="play-pause playicn exit-audio"
                  (click)="stopRecording(item)">
              </div>
            </div>
            <div class="audio-play" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center"
              *ngIf="item.music && item.isPlay && !previewSlide.id">
              <audio id="plyAudio" controlsList="nodownload" controls="controls" autoplay>
                <source [src]="item.safeMusicUrl" type="audio/wav">
              </audio>
              <mat-icon (click)="deleteSound(item, i)">delete</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center m-t-20">
      <!-- <button *ngIf="!captureImage" mat-raised-button #aboveMenu="matMenuTrigger" [matMenuTriggerFor]="menuImage" class="add-file m-r-10" color="primary">
        <mat-label>
          {{'previewImages.AddFileLabel' | translate}}
        </mat-label>
      </button>
      <mat-menu #menuImage="matMenu">
        <button mat-menu-item>
          <input type="file" name="add-image"  class="video-upload" multiple (change)="addFile($event)" id="add-image"
          accept="image/gif, image/png, image/jpeg, image/bmp, image/webp" />
          <label for="add-image" class="mb-0">{{'previewImages.sound.Upload' | translate}}</label>
        </button>
        <button mat-menu-item (click)="capture()">{{'Capture' | translate}}</button>
      </mat-menu>
      <div *ngIf="captureImage" class="wrapper"> 
        <webcam class="web-cam" 
                [trigger]="triggerObservable"  
                [allowCameraSwitch]="allowCameraSwitch"
                (cameraSwitched)="cameraWasSwitched($event)"
                (imageCapture)="handleImage($event)"
                (initError)="handleInitError($event)"> 
         </webcam> 
      </div> -->
      <button mat-raised-button #menuImg="matMenuTrigger" (menuOpened)="menuOpen('step1')" (menuClosed)="menuClose('step1')" [matMenuTriggerFor]="menuImage" class="add-file m-r-10" color="primary">
        <mat-label>
          {{'previewImages.AddFileLabel' | translate}}
        </mat-label>
      </button>
      <mat-menu #menuImage="matMenu">
        <button mat-menu-item>
          <mat-icon>collections</mat-icon><input type="file" #forImage name="add-image"  class="video-upload" multiple (change)="addFile($event)" id="add-image"
          accept="image/gif, image/png, image/jpeg, image/bmp, image/webp" />
          <label for="add-image" class="mb-0">{{'Gallery' | translate}}</label>
        </button>
       <button mat-menu-item (click)="capture()"><mat-icon>camera_enhance</mat-icon>{{'Take Picture' | translate}}</button>
      </mat-menu>
      <button  class="add-file m-r-10"  mat-raised-button [ngStyle]="{'display': previewSlide.isIos ? 'block' : 'none'}" color="primary">
        <mat-label>
          <input type="file" multiple class="video-upload" id="video1" #forVideo (change)="addVideos($event)" accept="video/mp4,video/webm,video/ogg">
          {{'previewImages.AddVideoLabel' | translate}}
        </mat-label>
      </button>
      <ng-container *ngIf="!previewSlide.isIos">
        <button  mat-raised-button #menuvideo="matMenuTrigger" (menuOpened)="menuOpen('step2')" (menuClosed)="menuClose('step2')" [matMenuTriggerFor]="menuVideo" class="add-file m-r-10" color="primary">
          <mat-label>
            {{'previewImages.AddVideoLabel' | translate}}
          </mat-label>
        </button>
        <mat-menu #menuVideo="matMenu">
          <button mat-menu-item>
            <mat-icon>collections</mat-icon>
            <input type="file" class="video-upload" id="video1" multiple (change)="addVideos($event)" accept="video/mp4,video/webm,video/ogg">
            <label for="video1" class="mb-0">{{'Gallery' | translate}}</label>
          </button>
          <button mat-menu-item (click)="recordVid()"><mat-icon>radio_button_checked</mat-icon>{{'previewImages.sound.Record' | translate}}</button>
        </mat-menu>
      </ng-container>
      <button class="add-file m-r-10 m-t-10" mat-raised-button (click)="addRouteForSurvey()" color="primary">
        <mat-label>
          {{'Add Survey' | translate}}
        </mat-label>
      </button>
      <button class="add-file m-r-10 m-t-10 clear-btn" mat-raised-button (click)="deletePages()" color="warn">
        <mat-label>
          Clear
        </mat-label>
      </button>
    </div>
  </div>
</div>

<div class="text-center mt-4" [ngClass]="{'my-class': previewSlide.slides.length==0}">
  <div [ngStyle]="{'display': previewSlide.showVideoRec ? 'block' : 'none'}" class="wave-container">
    <div id="vid-parent">
      <video id="myvideo" class="video-js vjs-default-skin parent-audio"></video>
    </div>

    <div class="rcrd-cntrl" *ngIf="!previewSlide.startRecording">
      <!-- <img src="assets/icons/pause.png" *ngIf="!isRecording" class="play-pause pauseicn" (click)="playPause()">
        <img src="assets/icons/play.png" *ngIf="isRecording" class="play-pause" (click)="playPause()"> -->
      <img src="assets/icons/record.png" class="recording-icon" (click)="startRecord()">
    </div>

    <div class="rcrd-cntrl" *ngIf="previewSlide.startRecording">
      <img src="assets/icons/record-stop.png" class="recording-icon" (click)="stopRecord()">
    </div>

    <div class="rcrd-pause" *ngIf="previewSlide.startRecording && !previewSlide.isRecording">
      <img src="assets/icons/record-pause.png" class="recording-icon" (click)="playPauseVid()">
    </div>

    <div class="rcrd-pause" *ngIf="previewSlide.startRecording && previewSlide.isRecording">
      <img src="assets/icons/record.png" class="recording-icon" (click)="playPauseVid()">
    </div>

    <div class="rcrd-flip" *ngIf="!previewSlide.startRecording && isMobile">
      <img src="assets/icons/cam-flip.png" class="recording-icon" (click)="flipCamera()">
    </div>

    <div class="cancel-recording" *ngIf="!previewSlide.startRecording">
      <img src="assets/icons/cancel.png" class="recording-icon" (click)="exitRecord()">
    </div>   
  </div>
</div>

