<mat-dialog-content>
  <h4>{{data?.message}}</h4>
</mat-dialog-content>
<div mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">{{'confirmation.CancelText' | translate}}</button>
    <button mat-button (click)="doAction()" mat-flat-button color="primary">{{'confirmation.ConfirmationText' | translate}}</button>
</div>
