<div class="reveal" *ngIf="artifacts && ipPreview.content && ipPreview.isLoadScript">
    <div class="slides">

      <ng-container *ngFor="let slide of ipPreview.content?.pages;let i = index">

        <section *ngIf = "i!=0" [ngClass]="{'full-widheight': i != 0}" (click)="onClick()">
            <div class="audio-wrapper" *ngIf="slide.music">
                <audio class="reveal-audio" (mouseover)="focusControl()" (mouseleave)="resetTimer()" *ngIf="slide.music" id="audio"
                    controlsList="nodownload">
                    <source [src]="slide.music" type="audio/mpeg">
                </audio>
            </div>
            <ng-container *ngIf = "i==0">
              <!-- <ngx-masonry  *ngIf = "i==0" class = "full-height d-flex">

                <ng-container  *ngFor="let row of slide.rows">
                  <div ngxMasonryItem class="masonry-item" *ngFor=" let col of row.cols;let idx = index">
                    <figure class="filter-{{col.filterType}}" *ngIf="col.type == 'image'">
                      <img src="{{col.url}}"/>
                    </figure>


                    <video controls controlslist="nodownload noremoteplayback" *ngIf="col.type == 'video'">
                      <source [src]="col.url" type='video/webm' />
                      <source [src]="col.url" type='video/mp4' />
                      <source [src]="col.url" type='video/ogg' />
                    </video>



                    <div class="region-box" id="my-div" *ngIf="mode === 'Single'"
                      [ngStyle]="{'width': '100px', 'height': '100px', 'top': 'calc(' + selectedGesture?.y + '% - 50px)', 'left': 'calc(' + selectedGesture?.x + '% - 50px)'}">

                      <ngx-emoji *ngIf="selectedGesture" [emoji]="{ id: selectedGesture?.emoji, skin: 3 }" size="18"
                        [sheetSize]="32"></ngx-emoji>
                    </div>

                    <ng-container *ngIf="mode === 'All'">

                      <div class="region-box{{i}} region-all" *ngFor="let item of regionArr;let i = index"
                        [ngStyle]="{'width': '100px', 'height': '100px', 'top': 'calc(' + item?.y + '% - 50px)', 'left': 'calc(' + item?.x + '% - 50px)'}">

                        <ngx-emoji [emoji]="{ id: item?.emoji, skin: 3 }" size="18" [sheetSize]="32"></ngx-emoji>
                      </div>

                    </ng-container>


                    <iframe class="img-size" src="getSafeUrl(col.url)" allow="autoplay" *ngIf="col.type == 'iframe'">
                    </iframe>

                    <div class="{{col.name}}" *ngIf="col.type == 'survey'" [ngClass]="col.class"></div>

                  </div>
                </ng-container>
              </ngx-masonry> -->
            </ng-container>


            <ng-container *ngIf = "i!=0 && ipPreview.reveal">
              <div class="row full-width ml-0 slide-row" *ngFor="let row of slide.rows" [ngStyle]="row.style">
                <div class="full-height text-center remove-padd" *ngFor=" let col of row.cols;let idx = index" >
                    <figure class="filter-{{col.filterType}} parent" *ngIf="col.type == 'image'">
                        <img src="{{col.url}}" class = "child h-100"/>
                    </figure>
 

                    <video  class = "h-100" controls controlslist="nodownload noremoteplayback"
                        *ngIf="col.type == 'video'">
                        <source [src]="col.url" type='video/webm' />
                        <source [src]="col.url" type='video/mp4' />
                        <source [src]="col.url" type='video/ogg' />
                    </video>

                    <!-- <div class="box" *ngIf="i !== 0">
                        <div class="row m-0" id="parent-div">
                            <div class="col one tap-div" ></div>
                            <div class="col two long-tap-div" ></div>
                        </div>
                        <div class="row m-0">
                            <div class="col three swipe-div"  ></div>
                            <div class="col four pinch-div" ></div>
                        </div>
                    </div> -->

                    <div class="region-box" id="my-div" *ngIf="ipPreview.mode === 'Single'"
                        [ngStyle]="{'width': '100px', 'height': '100px', 'top': 'calc(' + ipPreview.selectedGesture?.y + '% - 50px)', 'left': 'calc(' + ipPreview.selectedGesture?.x + '% - 50px)'}">
                        <!-- <p *ngIf="selectedGesture">
                            <ng-template #popTemplate>{{selectedGesture?.message}}</ng-template>
                            <span [popover]="popTemplate" [outsideClick]="true" triggers=""  [isOpen]="isOpen"></span>
                        </p> -->
                        <!-- <img *ngIf="selectedGesture" class="marker-icn" width="20" src="assets/images/marker-icon-2x-red.png" > -->
                        <ngx-emoji *ngIf="ipPreview.selectedGesture"  [emoji]="{ id: ipPreview.selectedGesture?.emoji, skin: 3 }" size="18" [sheetSize] = "32"></ngx-emoji>
                    </div>

                    <ng-container *ngIf="ipPreview.mode === 'All'">

                        <div
                            class="region-box{{i}} region-all" *ngFor="let item of ipPreview.regionArr;let i = index"
                            [ngStyle]="{'width': '100px', 'height': '100px', 'top': 'calc(' + item?.y + '% - 50px)', 'left': 'calc(' + item?.x + '% - 50px)'}">
                            <!-- <p *ngIf="item">
                                <ng-template #popTemplate>{{item?.message}}</ng-template>
                                <span [popover]="popTemplate" [outsideClick]="true" triggers=""  [isOpen]="isOpen"></span>
                            </p> -->
                            <ngx-emoji [emoji]="{ id: item?.emoji, skin: 3 }" size="18" [sheetSize] = "32"></ngx-emoji>
                        </div>

                    </ng-container>


                    <iframe class="img-size" src="getSafeUrl(col.url)" allow="autoplay" *ngIf="col.type == 'iframe'">
                    </iframe>

                    <div class="{{col.name}}" *ngIf="col.type == 'survey'" [ngClass]="col.class"></div>

                </div>
            </div>
            </ng-container>


        </section>
      </ng-container>
    </div>

    <div id="timeline">
        <ul>
            <li *ngFor="let in of counter(ipPreview.artifactsArr?.length) ;let idx = index">
                <a href="javascript:;" (click)="navigateSlide(idx)" [ngClass]="{'active': ipPreview.selectedIndex === idx }"></a>
            </li>
        </ul>
    </div>
</div>
