.overflow-auto-y {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    overflow-x: hidden;
    touch-action: pan-y pinch-zoom;
    position: relative;
}
.reveal .slides{
    height: auto !important;
    width: 100% !important;
}
.region-box {
    width: 200px;
    height: 200px;
}
.region-box, .region-all {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box, .region-box, .region-all {
    position: fixed;
    z-index: 999999;
    height: 100%;
    top: 0;
}
.box .row {
    height: 50%;
}

.h-100 {
  height: 100%;
}
.audio {
    height: 50px;
}
div#timeline {
    position: absolute;
    display: block;
    height: 40px;
    bottom: 0;
    z-index: 100;
    text-align: center !important;
}
div#timeline ul {
    padding: 0;
}
div#timeline ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}
div#timeline ul li a {
    display: block;
    width: 9px;
    height: 9px;
    background: url('/assets/icons/timeBullet.png') 0 0 no-repeat;
}
div#timeline ul li a.active {
    background: url('/assets/icons/timeBullet.png') 0 -9px no-repeat;
}
.userActions img {
    width: 25px;
    height: auto;
    margin-right: 10px;
}
.content.audio {
    position: relative;
}
.content.audio audio {
    bottom: 0 !important;
}
@media screen and (max-width: 767px) {
    .parent {
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .child {
        height: auto !important;
        width: 100% !important;
    }
}
