
<div fxLayout="row wrap" fxLayoutAlign="end end">
  <mat-card fxFlex="100">
    <div>&nbsp;&nbsp;</div>
    <mat-form-field class="search" appearance="outline">
      <mat-label>{{'gallery.SearchPlaceholder' | translate}}</mat-label>
      <input matInput [(ngModel)]="gallery.searchStr" placeholder="">
      <mat-icon (click)="search()" matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-card>
</div>
<mat-tab-group [class.header-less-tabs]="!gallery.isLoggedIn" [(selectedIndex)]="gallery.activeTab" (selectedTabChange)="onTabChanged($event);">
  <mat-tab label="{{'gallery.YoursTabTitle' | translate}}">
    <div class="text-center pt-3" *ngIf="!gallery.filYoursArr.length">
      <strong>{{'gallery.NoPresentationAvailableText' | translate}}</strong>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="33.33%" fxFlex="100" *ngFor="let item of gallery.filYoursArr;let i = index">
          <mat-card>
              <mat-card-header>
                  <div mat-card-avatar>
                      <img src="assets/images/users/1.jpg" class="img-fluid img-circle" />
                  </div>
                  <mat-card-title>{{item.author}}</mat-card-title>
                  <mat-card-subtitle>{{item.name}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image (click)="redirectTo(item)" [src]="item.imgSrc" alt="Photo of a Shiba Inu">
              <mat-card-content>
                  <mat-card-actions>
                    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
                      <mat-icon (click)="redirectMap(item)">location_on</mat-icon>
                      <mat-icon (click)="openModal(item)">share</mat-icon>
                      <ng-container *ngIf="gallery.isLoggedIn">
                        <mat-icon (click)="addtoStar(item)" *ngIf="!checkStarArr(item)">favorite_border</mat-icon>
                        <mat-icon class="favorite" (click)="removeStarred(item)" *ngIf="checkStarArr(item)">favorite</mat-icon>
                      </ng-container>
                      <ng-container *ngIf="!gallery.isLoggedIn">
                        <mat-icon>favorite</mat-icon>
                      </ng-container>
                      <mat-icon (click)="openModalMore(item)" fontSet="material-icons-outlined">info</mat-icon>
                    </div>
                  </mat-card-actions>
              </mat-card-content>
          </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="{{'gallery.SharedTabTitle' | translate}}">
    <div class="text-center pt-3" *ngIf="!gallery.filSharedArr.length">
      <strong>{{'gallery.NoPresentationAvailableText' | translate}}</strong>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="33.33%" fxFlex="100" *ngFor="let item of gallery.filSharedArr;let i = index">
          <mat-card>
              <mat-card-header>
                  <div mat-card-avatar>
                      <img src="assets/images/users/1.jpg" class="img-fluid img-circle" />
                  </div>
                  <mat-card-title>{{item.author}}</mat-card-title>
                  <mat-card-subtitle>{{item.name}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image (click)="redirectTo(item)" [src]="item.imgSrc" alt="Photo of a Shiba Inu">
              <mat-card-content>
                  <mat-card-actions>
                    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
                      <mat-icon (click)="redirectMap(item)">location_on</mat-icon>
                      <mat-icon (click)="openModal(item)">share</mat-icon>
                      <ng-container *ngIf="gallery.isLoggedIn">
                        <mat-icon (click)="addtoStar(item)" *ngIf="!checkStarArr(item)">favorite_border</mat-icon>
                        <mat-icon class="favorite" (click)="removeStarred(item)" *ngIf="checkStarArr(item)">favorite</mat-icon>
                      </ng-container>
                      <ng-container *ngIf="!gallery.isLoggedIn">
                        <mat-icon>favorite</mat-icon>
                      </ng-container>
                      <mat-icon (click)="openModalMore(item)" fontSet="material-icons-outlined">info</mat-icon>
                    </div>
                  </mat-card-actions>
              </mat-card-content>
          </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="{{'gallery.FavoritesTabTitle' | translate}}">
    <div class="text-center pt-3" *ngIf="!gallery.filStarredArr.length">
      <strong>{{'gallery.NoPresentationAvailableText' | translate}}</strong>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="33.33%" fxFlex="100" *ngFor="let item of gallery.filStarredArr;let i = index">
          <mat-card>
              <mat-card-header>
                  <div mat-card-avatar>
                      <img src="assets/images/users/1.jpg" class="img-fluid img-circle" />
                  </div>
                  <mat-card-title>{{item.author}}</mat-card-title>
                  <mat-card-subtitle>{{item.name}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image (click)="redirectTo(item)" [src]="item.imgSrc" alt="Photo of a Shiba Inu">
              <mat-card-content>
                  <mat-card-actions>
                    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
                      <mat-icon (click)="redirectMap(item)">location_on</mat-icon>
                      <mat-icon (click)="openModal(item)">share</mat-icon>
                      <mat-icon matTooltip="Remove from Starred" class="favorite" (click)="removeStarred(item)">favorite</mat-icon>
                      <mat-icon (click)="openModalMore(item)" fontSet="material-icons-outlined">info</mat-icon>
                    </div>
                  </mat-card-actions>
              </mat-card-content>
          </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="{{'gallery.TrendingTabTitle' | translate}}">
    <div class="text-center pt-3" *ngIf="!gallery.filTrendingArr.length">
      <strong>{{'gallery.NoPresentationAvailableText' | translate}}</strong>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="33.33%" fxFlex="100" *ngFor="let item of gallery.filTrendingArr;let i = index">
          <mat-card>
              <mat-card-header>
                  <div mat-card-avatar>
                      <img src="assets/images/users/1.jpg" class="img-fluid img-circle" />
                  </div>
                  <mat-card-title>{{item.author}}</mat-card-title>
                  <mat-card-subtitle>{{item.name}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image (click)="redirectTo(item)" [src]="item.imgSrc" alt="Photo of a Shiba Inu">
              <mat-card-content>
                  <mat-card-actions>
                    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
                      <mat-icon *ngIf="gallery.isLoggedIn && item.location" (click)="redirectMap(item)">location_on</mat-icon>
                      <mat-icon *ngIf="!gallery.isLoggedIn">location_on</mat-icon>
                      <mat-icon (click)="openModal(item)">share</mat-icon>
                      <ng-container *ngIf="gallery.isLoggedIn">
                        <mat-icon (click)="addtoStar(item)" *ngIf="!checkStarArr(item)">favorite_border</mat-icon>
                        <mat-icon class="favorite" (click)="removeStarred(item)" *ngIf="checkStarArr(item)">favorite</mat-icon>
                      </ng-container>
                      <ng-container *ngIf="!gallery.isLoggedIn">
                        <mat-icon>favorite</mat-icon>
                      </ng-container>
                      <mat-icon (click)="openModalMore(item)" fontSet="material-icons-outlined">info</mat-icon>
                    </div>
                  </mat-card-actions>
              </mat-card-content>
          </mat-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
