.mat-card .mat-card-image {
  height: 250px;
}
mat-card-content {
  padding: 0 10px 5px !important;
}
.mat-form-field.search {
  padding: 0 20px;
}
.favorite {
  color: red;
}
.header-less-tabs.mat-tab-group {
  ::ng-deep {
    .mat-tab-header {
      display: none;
    }
  }
}
