<mat-tab-group (selectedTabChange)="onTabChanged()">
  <ng-container *ngFor="let item of preInteractions.tabs">
    <mat-tab label="{{ item }}">
      <div fxLayout="row wrap">
        <div fxFlex="100">
          <mat-card>
            <mat-card-content>
              <div
                class="product-list"
                infinite-scroll
                [infiniteScrollDistance]="infiniteGrid.scrollDistance"
                [infiniteScrollUpDistance]="scrollUpDistance"
                [infiniteScrollThrottle]="infiniteGrid.throttle"
                [scrollWindow]="infiniteGrid.true"
              >
                <div class="card">
                  <div class="card-body">
                    <div class="product">
                      <mat-expansion-panel>
                        <mat-expansion-panel-header
                          [ngClass]="{
                            background: !utility.dark,
                            'dark-background': utility.dark
                          }"
                        >
                          <p class="header"><strong>Root Folder</strong></p>
                        </mat-expansion-panel-header>
                        <div class="carousel-container">
                          <owl-carousel-o
                            [options]="infiniteGrid.customOptions"
                          >
                            <ng-container
                              *ngFor="
                                let slide of root.interactions;
                                let i = index
                              "
                            >
                              <ng-template carouselSlide [id]="'slide' + i">
                                <div class="product-block">
                                  <div class="media">
                                    <img src="assets/images/interact.svg" />
                                  </div>
                                  <div class="product-info">
                                    <div class="price">
                                      <b>{{ slide }}</b>
                                    </div>
                                  </div>
                                </div>
                              </ng-template>
                            </ng-container>
                          </owl-carousel-o>
                        </div>
                        <div
                          class="around-space"
                          *ngFor="let folder of root.folders; let i = index"
                        >
                          <div class="sub-product">
                            <mat-expansion-panel>
                              <mat-expansion-panel-header
                                [ngClass]="{
                                  background: !utility.dark,
                                  'dark-background': utility.dark
                                }"
                              >
                                <p class="header">
                                  <strong>{{ folder.name }}</strong>
                                </p>
                              </mat-expansion-panel-header>
                              <div class="carousel-container">
                                <owl-carousel-o
                                  [options]="infiniteGrid.customOptions"
                                >
                                  <ng-container
                                    *ngFor="
                                      let slide of folder.data[0].interactions;
                                      let i = index
                                    "
                                  >
                                    <ng-template
                                      carouselSlide
                                      [id]="'slide' + i"
                                    >
                                      <div class="product-block">
                                        <div class="media">
                                          <img
                                            src="assets/images/interact.svg"
                                          />
                                        </div>
                                        <div class="product-info">
                                          <div class="price">
                                            <b>{{ slide }}</b>
                                          </div>
                                        </div>
                                      </div>
                                    </ng-template>
                                  </ng-container>
                                </owl-carousel-o>
                              </div>
                              <div
                                class="around-space"
                                *ngFor="
                                  let innerFolder of folder.data[0].folders;
                                  let i = index
                                "
                              >
                                <div class="sub-product">
                                  <mat-expansion-panel>
                                    <mat-expansion-panel-header
                                      [ngClass]="{
                                        background: !utility.dark,
                                        'dark-background': utility.dark
                                      }"
                                    >
                                      <p class="header">
                                        <strong>{{ innerFolder.name }}</strong>
                                      </p>
                                    </mat-expansion-panel-header>
                                    <div class="carousel-container">
                                      <owl-carousel-o
                                        [options]="infiniteGrid.customOptions"
                                      >
                                        <ng-container
                                          *ngFor="
                                            let slide of innerFolder.data[0]
                                              .interactions;
                                            let i = index
                                          "
                                        >
                                          <ng-template
                                            carouselSlide
                                            [id]="'slide' + i"
                                          >
                                            <div class="product-block">
                                              <div class="media">
                                                <img
                                                  src="assets/images/interact.svg"
                                                />
                                              </div>
                                              <div class="product-info">
                                                <div class="price">
                                                  <b>{{ slide }}</b>
                                                </div>
                                              </div>
                                            </div>
                                          </ng-template>
                                        </ng-container>
                                      </owl-carousel-o>
                                    </div>
                                  </mat-expansion-panel>
                                </div>
                              </div>
                            </mat-expansion-panel>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>

    <!-- <mat-tab label="Category c">
    <div fxLayout="row wrap">
      <div fxFlex="100">
        <mat-card>
          <mat-card-content>
           
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab> -->
    <!-- <ng-template carouselSlide id="'slide' + {{ interactions.length - 1 }}">
    <div class="product-block">
      <div class="media">
        <img class="img-folder" src="assets/images/folder.svg" />
      </div>
      <div class="product-info">
        <div class="price">
          <b>Folder AA</b>
        </div>
      </div>
    </div>
  </ng-template> -->
  </ng-container>
</mat-tab-group>
