<!-- ============================================================== -->
<!-- Only router without any element -->
<!-- ============================================================== -->
<div
  class="main-container"
  [dir]="utility.dir"
  [ngClass]="{
    rtl: utility.dir == 'rtl',
    minisidebar: utility.minisidebar,
    boxed: utility.boxed,
    danger: utility.danger,
    blue: utility.blue,
    green: utility.green,
    dark: utility.dark
  }"
>
  <mat-toolbar
    [ngClass]="{ 'hide-sidenav': utility.isFullscreen }"
    class="topbarBlank topbar telative"
  >
    <button
      (click)="end.toggle(); openPanel()"
      mat-icon-button
      class="ml-xs settings-icon"
    >
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav
      #end
      position="end"
      [ngClass]="{
        displayPanel: blank.displayPanel,
        hidePanel: !blank.displayPanel
      }"
      class="chat-panel"
      mode="over"
      opened="false"
    >
      <mat-nav-list>
        <h3 mat-subheader class="text-uppercase font-weight-bold">
          {{ "full.SettingsText" | translate }}
        </h3>
        <mat-form-field style="width: 75%; margin-left: 18px">
          <mat-select [(ngModel)]="blank.selectedLanguage">
            <mat-option
              [value]="lan"
              *ngFor="let lan of blank.languageArr"
              (click)="
                blank.selectedLanguage = lan; changeLanguage(); end.close()
              "
            >
              <span>
                <img
                  src="{{ lan.src }}"
                  style="
                    height: 22px;
                    width: 22px;
                    margin-bottom: -5px;
                    border-radius: 50%;
                  "
                />
              </span>
              <span>
                {{ lan.lang }}
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-list-item>
          <mat-slide-toggle
            color="warn"
            [checked]="utility.dirValue"
            (change)="toggle($event); end.close()"
            >{{ "full.RtlText" | translate }}</mat-slide-toggle
          >
        </mat-list-item>
        <mat-list-item>
          <mat-slide-toggle
            color="warn"
            [(ngModel)]="utility.boxed"
            (change)="end.close()"
            >{{ "full.BoxedLayoutText" | translate }}
          </mat-slide-toggle>
        </mat-list-item>
        <!--<mat-list-item>
                  <mat-slide-toggle [(ngModel)]="minisidebar">Mini Sidebar</mat-slide-toggle>
                </mat-list-item>    -->
        <mat-divider></mat-divider>
        <h3 mat-subheader class="text-uppercase font-weight-bold">
          {{ "full.ColorsTitle" | translate }}
        </h3>
        <mat-list-item>
          <mat-checkbox
            color="warn"
            [(ngModel)]="utility.danger"
            (change)="
              utility.green = utility.blue = utility.dark = false; end.close()
            "
            class="text-danger"
            >{{ "full.RedText" | translate }}
          </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox
            color="warn"
            [(ngModel)]="utility.green"
            (change)="
              utility.danger = utility.blue = utility.dark = false; end.close()
            "
            class="text-megna"
            >{{ "full.TealGreenText" | translate }}</mat-checkbox
          >
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox
            color="warn"
            [(ngModel)]="utility.blue"
            (change)="
              utility.green = utility.danger = utility.dark = false; end.close()
            "
            class="text-info"
            >{{ "full.BlueText" | translate }}
          </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox
            color="warn"
            [(ngModel)]="utility.dark"
            (change)="
              utility.green = utility.blue = utility.danger = false; end.close()
            "
            >{{ "full.DarkText" | translate }}
          </mat-checkbox>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>
