img {
  max-height: 400px;
}

.info {
  justify-content: space-between !important;
  margin-top: 10px;
}

iframe {
  position: absolute;
  border: none;
  overflow: hidden;
  height: 55vh;
  width: 100vw;
  z-index: 0;

  @media only screen and (max-width: 767px) {
    height: 60vw;
  }

  @media only screen and (max-width: 550px) {
    height: 75vw;
  }

  @media only screen and (max-width: 374px) {
    height: 95vw;
  }
}

mat-card {
  &.no-item {
    height: calc(100vh - 94px);
  }

  margin: 0;
  padding-top: 55vh !important;

  @media only screen and (max-width: 767px) {
    &.no-item {
      height: calc(100vh - 64px);
    }

    padding-top: 60vw !important;
  }

  @media only screen and (max-width: 550px) {
    padding-top: 75vw !important;
  }

  @media only screen and (max-width: 374px) {
    padding-top: 95vw !important;
  }

  ::ng-deep {
    .mat-card .mat-card-content {
      padding: 0 24px;
    }

    .bottom-content-info {
      // position: relative;
      // top: 55vh;

      @media only screen and (max-width: 767px) {
        top: 60vw;
      }

      @media only screen and (max-width: 550px) {
        top: 75vw;
      }

      @media only screen and (max-width: 374px) {
        top: 65vw;
      }

      .favorite {
        color: red;
      }

      mat-vertical-stepper {
        margin-top: 10px;

        ::ng-deep {
          .mat-vertical-stepper-header {
            padding: 24px 0px;
          }

          .mat-stepper-vertical-line::before {
            left: -24px;
          }

          .mat-vertical-content {
            @media only screen and (max-width: 768px) {
              padding: 0 0 20px 0;
            }
          }
        }
      }
    }
  }
}

.collaps {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999999;
  cursor: pointer;
}

.fullScreen {
  display: block;
  width: 100vw;
  height: 100vh;
  transform: translateY(0vh) rotate(0deg);
  transform-origin: top left;
  position: fixed;
  top: 0;
  z-index: 999999;
  left: 0;
  max-width: 100% !important;

  @media only screen and (max-width: 767px) {
    display: block;
    width: 100vh;
    max-width: 100vh !important;
    height: 100vw;
    transform: translateY(100vh) rotate(-90deg);
    transform-origin: top left;
    position: fixed;
    top: 0;
    z-index: 999999;
    left: 0;
  }
}

.publish {
  // position: absolute;
  // bottom: 4%;
  // left: calc(50% - 195px + 100px);
}

.mat-card-wrapper .mat-card .mat-card-image {
  height: 250px;
}

.mat-card-wrapper mat-card-content {
  padding: 0 10px 5px !important;
}

.mat-card-wrapper .mat-form-field.search {
  padding: 0 20px;
}

.mat-card-wrapper .mat-card .mat-card-header {
  ::ng-deep {
    .mat-card-header-text {
      margin: 0;
    }
  }

  .mat-card-title {
    font-size: 14px;
  }
}

.mat-card-wrapper mat-card {
  padding-top: 0px !important;
  margin-right: 10px;
}

.text-title {
  font-weight: 500;
  color: blue;
  cursor: pointer;
}
.cordinates {
  cursor: pointer;
}



