<div fxLayout="row wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card [ngClass]="{'no-item': play.selectedItem}">
      <img (click)="closeFullscreen()" *ngIf="play.landscape" class="collaps" width="30" src="assets/icons/makefg.png">
      <!-- <img mat-card-image [src]="'https://ippub.panaroamer.com/new-york/presentations/media/thumbnail.jpg'" alt="Photo of a Shiba Inu"> -->
      <!-- <iframe mat-card-image [ngClass]="{'fullScreen': landscape}"
            [src]="sanitizer.bypassSecurityTrustResourceUrl(selectedItem?.url)" scrolling="no"></iframe> -->
      <mat-card-content>
        <div fxlayout="column" class="bottom-content-info" fxLayoutGap="10px">
          <div fxLayout="row" class="info" fxLayoutAlign="space-betwen center">
            <div *ngIf="play.selectedItem"><b>{{play.selectedItem ? play.selectedItem?.name : 'John Rosemary'}}</b></div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" *ngIf="play.selectedItem">
              <mat-icon *ngIf="play.selectedItem?.location" (click)="redirectMap()">location_on</mat-icon>
              <mat-icon (click)="openModal()">share</mat-icon>
              <ng-container *ngIf="isLoggedIn">
                <mat-icon (click)="addtoStar()" *ngIf="!checkArr(play.starred)">favorite_border</mat-icon>
                <mat-icon class="favorite" (click)="removeStarred()" *ngIf="checkArr(play.starred)">favorite</mat-icon>
              </ng-container>
              <ng-container *ngIf="!isLoggedIn">
                <mat-icon>favorite</mat-icon>
              </ng-container>
              <mat-icon (click)="openModalMore()" fontSet="material-icons-outlined">info</mat-icon>
              <mat-icon (click)="openFullscreen()">zoom_out_map</mat-icon>
            </div>
          </div>
          <div *ngIf="play.selectedItem">{{'play.PresentationDisplayPrefixLine' | translate}} {{play.selectedItem?.name}}</div>
          <div fxLayout="row" class="info" fxLayoutAlign="space-betwen center" *ngIf="play.selectedItem">
            <div><b>{{ 'Categories.' + play.selectedItem?.category | translate }}</b></div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-icon>notifications</mat-icon>
            </div>
          </div>
          <div fxLayout="row" class="info m-r-10" fxLayoutAlign="space-betwen center" *ngIf="play.selectedItem">
            <div><b>{{play.selectedItem?.author}}</b></div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-icon>person_add</mat-icon>
            </div>
          </div>
        <div *ngIf="!play.selectedItem">
          <div fxLayoutAlign="end center" *ngIf="play.showPreview">
             <mat-icon (click)="openFullscreen()" >zoom_out_map</mat-icon>
         </div>
        <form [formGroup]="play.myform">
          <mat-vertical-stepper [linear]="false">
            <mat-step>
                <ng-template matStepLabel>{{'Information' | translate}}</ng-template>
                <mat-form-field>
                  <input matInput autocomplete="off" formControlName="title" placeholder="{{'quickBuild.PresentationTitlePlaceHolder' | translate}}" required>
                </mat-form-field>
                <mat-form-field>
                  <mat-select placeholder="{{'Category' | translate}}" formControlName="category">
                    <mat-option value="Infrastructure">{{'quickBuild.InfrastructureOptionText' | translate}}</mat-option>
                    <mat-option value="Nature">{{'quickBuild.NatureOptionText' | translate}}</mat-option>
                    <mat-option value="Happy Faces">{{'quickBuild.HappyFacesOptionText' | translate}}</mat-option>
                    <mat-option value="Store">{{'quickBuild.StoreOptionText' | translate}}</mat-option>
                    <mat-option value="Electronics">{{'quickBuild.ElectronicsOptionText' | translate}}</mat-option>
                    <mat-option value="Food">{{'quickBuild.FoodOptionText' | translate}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- <mat-form-field>
                  <input matInput placeholder="{{'quickBuild.PresentationPricePlaceHolder' | translate}}"
                    formControlName="price">
                </mat-form-field> -->

            </mat-step>
            <mat-step>
                <ng-template matStepLabel>{{'Address' | translate}}</ng-template>
                <mat-form-field>
                  <input matInput autocomplete="off"
                    placeholder="{{'Street 1' | translate}}"
                    formControlName="street1" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="{{'Street 2' | translate}}" formControlName="street2">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="{{'City' | translate}}" formControlName="city">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="{{'Zip Code' | translate}}" formControlName="zipCode">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="{{'Country' | translate}}" formControlName="country">
                </mat-form-field>
                <div (click)="openMap()" class="text-title">GPS Coordinants</div>
                <div (click)="openMap()" class="cordinates" *ngIf="play.lat">
                  {{play.lng}} , {{play.lat}}
                </div>
                <button mat-raised-button color="primary" (click)="openMap()">
                  <mat-icon>location_on</mat-icon> Change Location
                </button>
                <!-- <mat-form-field>
                  <input matInput  placeholder="{{'GPS Coordinates ' | translate}}">
                </mat-form-field> -->

            </mat-step>
            <mat-step>
              <ng-template matStepLabel>{{'Scheduling' | translate}}</ng-template>
              <button mat-raised-button *ngIf="!play.selectedItem" color="primary" (click)="openCalenderScheduling()">
                {{'Scheduling' | translate}}
              </button>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>{{'Pricing' | translate}}</ng-template>
              <div class="mat-card-wrapper">
                <mat-card>
                  <div fxLayout="row wrap" *ngIf="play.productList.length">
                    <!-- Card column -->
                    <div fxFlex.gt-sm="50%" fxFlex="100" *ngFor="let item of play.productList;let i = index">
                      <mat-card>
                        <mat-card-header>
                          <mat-card-title>{{item.name}}</mat-card-title>
                          <mat-card-subtitle>{{(item.unit_amount/100) | currency : 'USD' :'symbol': '1.2-2'}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image [src]="item.images[0]" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <mat-card-actions>
                            <button mat-raised-button type="button" color="primary">Pay</button>
                          </mat-card-actions>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </mat-card>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>{{ 'Payments ' | translate }}</ng-template>
              <div class="mat-card-wrapper">
                <mat-card>
                  <div fxLayout="row wrap" *ngIf="play.priceList.length">
                    <!-- Card column -->
                    <div fxFlex.gt-sm="50%" fxFlex="100" *ngFor="let item of play.priceList;let i = index">
                      <mat-card>
                        <mat-card-header>
                          <mat-card-title>{{item.name}}</mat-card-title>
                          <mat-card-subtitle>{{(item.unit_amount/100) | currency : 'USD' :'symbol': '1.2-2'}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image [src]="item.images[0]" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <mat-card-actions>
                            <button mat-raised-button (click)="pay(item)" type="button" color="primary">Pay</button>
                          </mat-card-actions>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </mat-card>
              </div>
            </mat-step>
          </mat-vertical-stepper>
          </form>
          </div>
        </div>
        <div *ngIf="!play.selectedItem">
        <div fxLayout="row wrap" class="publish" fxLayoutAlign="center center" fxLayoutGap="10px">
          <!-- <button mat-raised-button *ngIf="!selectedItem" color="primary" (click)="publishIp()">
            {{'Submit' | translate}}
          </button> -->
          <button mat-raised-button *ngIf="!play.selectedItem && !play.btnText" color="accent">
            {{'Publish' | translate}}
          </button>
          <button mat-raised-button *ngIf="!play.selectedItem && play.btnText" color="accent" (click)="accept()">
            Accept
          </button>
          <button mat-raised-button *ngIf="!play.selectedItem" color="primary" (click) = "goTODesigner()">
            {{'Design' | translate}}
          </button>
        </div>
        </div>
        <div class="bottom-content play pt-2" *ngIf="play.selectedItem">
          <app-chat-panel [isExpanded]="utility.isExpanded"></app-chat-panel>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
