<mat-accordion [ngClass]="{'show': shouldShow, 'hide-acc': !shouldShow}" [ngStyle]="{ 'z-index': '99999', 'bottom': '0px'}">
    <mat-expansion-panel class="panel-1" [expanded]="isExpanded"  (closed)="onCloseAcc()" >
    <mat-expansion-panel-header (click)="showIcon()" class="panel-header">
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100%">
        <div fxFlex="50%" fxLayoutAlign="flex-end center">
            <mat-icon [ngStyle]="{'color': '#b9b5b5'}">remove</mat-icon>
        </div>
        <div fxFlex="50%" fxLayoutAlign="flex-end center" class="remove-2" *ngIf="iconshow && isExpanded">
            <mat-icon class="expand" [ngStyle]="{'color': '#b9b5b5'}" (click)="showAccordion($event)">drag_handle</mat-icon>
          </div>
      </div>
    </mat-expansion-panel-header>
    <div class="comments">
        <chat-panel
            [users]="utilitySer.intialMessagesArr"
            [selectedIp]="ipUrl"
            [labels]="labels"
            [isPana]="true"
            [panelHeight]="panelHeight"
            [isAccordian]="true"
            (selectIp)="onSelectIp($event)">
        </chat-panel>
    </div>
    </mat-expansion-panel>
</mat-accordion>
