.pr-5 {
    padding-right: 5px !important;
}

.expansion-nod {
    height: 18px;
    width: 18px;
    margin-top: 8px;
    margin-left: 2px;
}
mat-accordion {
  ::ng-deep {
    .remove-2 {
      padding-right: 10px;
    }
  }
}
