<div fxLayout="row wrap" class="schedule">
    <!-- Card column -->
    <div fxFlex="100">
        <mat-card>
            <mat-card-content>
              <angular-scheduling
               [view]="previewScheduleInterface.view"
               [columns]="[]"
               [viewDate]="previewScheduleInterface.viewDate"
               [IsClickable]="true"
               [IsDraggable]="true"
               [IsDeletable]="true"
               [eventTitle] = "title"
               [dark]='utility.dark'
              >
              </angular-scheduling>
            </mat-card-content>
        </mat-card>
    </div>
  </div>
  