<div class="cross d-flex" fxLayout="row" (click)="closeModal()" fxLayoutAlign="center center">
    <mat-icon>close</mat-icon>
</div>
<div> 
    <webcam class="web-cam" 
            [trigger]="triggerObservable" 
            (imageCapture)="handleImage($event)"> 
     </webcam> 
  </div>
  <div class="capture-btn">
<button mat-raised-button color='primary' (click)="triggerSnapshot()"> 
    Capture</button> 
</div>