.cross {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: #3c4252;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  
    .mat-icon {
      color: #ffffff;
      width: 16px;
      height: 16px;
      font-size: 16px;
    }
  }

.capture-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}