.cross {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: #3c4252;
  border-radius: 100%;
  justify-content: center;
  align-items: center;

  .mat-icon {
    color: #ffffff;
    width: 16px;
    height: 16px;
    font-size: 16px;
  }
}

.mat-dialog-title {
  padding: 0 15px;
  margin-bottom: 10px;

  h4 {
    margin: 0;
  }
  ::ng-deep {
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
      .mat-form-field-label {
      transform: translateY(-1.1em) scale(0.75);
      width: 133.33333%;
    }

    mat-form-field.mat-form-field-appearance-outline {
      width: 130px;
      ::ng-deep {
        .mat-form-field-wrapper {
          padding: 0;
        }
        .mat-form-field-flex > .mat-form-field-infix {
          padding: 10px 0px !important;
          border-top: 6px solid transparent;
        }
        .mat-form-field-label-wrapper {
          top: -1.5em;
        }
        .mat-form-field-outline-thick .mat-form-field-outline-start,
        .mat-form-field-outline-thick .mat-form-field-outline-end,
        .mat-form-field-outline-thick .mat-form-field-outline-gap {
          border-width: 1px !important;
        }
      }
    }
  }
}

mat-dialog-content {
  margin: 0;
  padding: 0 15px;

  ::ng-deep {
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
      .mat-form-field-label {
      transform: translateY(-1.1em) scale(0.75);
      width: 133.33333%;
    }

    th.mat-header-cell:first-of-type,
    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type {
      padding-left: 0px;
    }

    th.mat-header-cell:last-of-type,
    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type {
      padding-right: 0px;
    }

    td {
      display: table-cell !important;

      .delete-action {
        position: absolute;
        right: 0;
        bottom: 20px;
        left: 22px;
        font-size: 15px;
        width: 15px;
        height: 15px;
      }
    }

    mat-form-field.mat-form-field-appearance-outline {
      ::ng-deep {
        .mat-form-field-flex > .mat-form-field-infix {
          padding: 0.4em 0px !important;
        }
        .mat-form-field-label-wrapper {
          top: -1.5em;
        }
        .mat-form-field-outline-thick .mat-form-field-outline-start,
        .mat-form-field-outline-thick .mat-form-field-outline-end,
        .mat-form-field-outline-thick .mat-form-field-outline-gap {
          border-width: 1px !important;
        }
      }
    }

    input[type="file"] {
      opacity: 0;
      width: 100%;
      position: absolute;
      left: 0;
      padding: 8px 0;
    }

    #underlay {
      position: relative;
    }
    #underlay figure img {
      height: auto;
      max-width: 100%;
      width: 100%;
    }

    #underlay > .markers {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    #underlay > .markers > .marker {
      position: absolute;
    }

    .vidio-prev {
      height: auto;
      width: 100%;
      max-height: 220px;
      object-fit: fill;
    }
    @media only screen and (max-width: 360px) {
      .vidio-prev {
        max-height: 140px;
      }
    }
    table {
      width: 100%;
      box-shadow: none;

      tr.mat-header-row {
        height: 35px;
      }
    }
    .wave-container {
      position: relative;
      #waves {
        .myAudio-dimensions {
          max-width: 300px;
        }
      }
      .btm-cntrl {
        position: absolute;
        top: 50px;
        right: 25px;
      }
    }

    ngx-datatable {
      width: 100%;
      padding: 0 20px;

      &.ngx-datatable.material.single-selection {
        .datatable-body-row.active .datatable-row-group {
          background-color: #b8b9c4;
        }
        .datatable-scroll {
          width: 700px !important;
        }
        .datatable-header {
          height: 40px !important;
          padding-top: 6px;
        }
        .datatable-header-cell,
        .datatable-body-cell {
          padding: 5px;
        }
      }
      .datatable-body-cell-label {
        white-space: nowrap;
      }
      .datatable-header-inner {
        width: 100% !important;
      }
    }
  }
}
#myvideo1 {
  left: 0;
  position: fixed;
  /* height: 100vh; */
  top: 0px;
  z-index: 100000;
  width: 100%;
  margin: 0;
}
.btm-cntrl {
  position: absolute;
  top: 79px;
  right: 24px;
}
@media only screen and (max-width: 767px) {
  .btm-cntrl {
    right: 10px;
  }
}
.btm-cntrl img {
  margin: 0px 8px 0 0 !important;
}
.exit-audio {
  margin: 0px !important;
}
.rcrd-cntrl {
  position: fixed;
  bottom: 50px;
  z-index: 100000;
  left: 43%;
  height: 40px;
  width: 40px;
  text-align: center;
}

.rcrd-pause {
  position: fixed;
  bottom: 31px;
  z-index: 100000;
  left: 20%;
  text-align: center;
}

.btm-cntrl .play-pause {
  z-index: 100000;
  top: 4px;
  position: relative;
}
.pauseicn {
  width: 25px !important;
  height: 16px !important;
}
.playicn {
  width: 12px !important;
  height: 12px !important;
  right: 5px;
}

.rcrd-pause img {
  height: 50px;
}

.rcrd-flip {
  position: fixed;
  bottom: 37px;
  z-index: 100000;
  left: 70%;
  text-align: center;
}

.cancel-recording {
  position: fixed;
  top: 15px;
  z-index: 100000;
  right: 15px;
  cursor: pointer;
  text-align: center;
}

.cancel-recording img {
  width: 35px;
}

.vidio-prev {
  height: auto;
  width: 100%;
  max-height: 220px;
  object-fit: fill;
}
@media only screen and (max-width: 360px) {
  .vidio-prev {
    max-height: 140px;
  }
}

mat-dialog-actions {
  min-height: 0px;
  padding: 8px 15px;
}
.space_around {
  margin-right: 10px;
}
.saved {
  color: #00c851;
}
