<div class="cross d-flex" fxLayout="row" (click)="dialogRef.close()" fxLayoutAlign="center center">
  <mat-icon>close</mat-icon>
</div>
<div mat-dialog-title>
  <h4 *ngIf="interacrtionInterface.step != -1">{{interacrtionInterface.coordinates ? '' : interacrtionInterface.actionView ? 'Add Details' : ('previewImages.gesture.SelectActivationRegion' | translate) }}</h4>
  <div *ngIf="interacrtionInterface.step == -1">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h4>
        {{'previewImages.gesture.ActivationMode' | translate }}
      </h4>
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]=" interacrtionInterface.selectMode" (selectionChange)="onSelectMode($event)">
          <mat-option value="All">{{ 'previewImages.gesture.All' | translate }}</mat-option>
          <mat-option value="Single">{{ 'previewImages.gesture.Single' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<mat-dialog-content>

  <!-- Step -1 -->
  <ng-container *ngIf="interacrtionInterface.step == -1">
    <div class="table-responsive mt-2">
      <table mat-table *ngIf="interacrtionInterface.gestArr.length" [dataSource]="interacrtionInterface.gestArr" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="gesture">
          <th mat-header-cell *matHeaderCellDef>{{'previewImages.gesture.Gestures' | translate }}</th>
          <td mat-cell *matCellDef="let element"> {{'previewImages.gesture.' + element.gesture | translate }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="x">
          <th mat-header-cell *matHeaderCellDef> {{'Call to Action' | translate }} </th>
          <td mat-cell *matCellDef="let element">
            <!-- <mat-icon (click)="addAction('buy', element)" matTooltip="Buy">shopping_cart</mat-icon>
            <mat-icon (click)="addAction('visit', element)" matTooltip="Visit">recent_actors</mat-icon>
            <mat-icon (click)="addAction('call', element)" matTooltip="Call">phone_in_talk</mat-icon>
            <mat-icon (click)="addAction('text', element)" matTooltip="Text">message</mat-icon> -->
            <div fxFlex="row wrap" fxLayoutGap="15px">
              <span [style.position]="'relative'">
                <mat-icon (click)="addAction('buy', element)" matTooltip="Buy">shopping_cart</mat-icon>
                <mat-icon *ngIf="getActions(element).includes('buy')" (click)="deleteAction('buy', element)" class="delete-action">delete</mat-icon>
              </span>
              <span [style.position]="'relative'">
                <mat-icon (click)="addAction('visit', element)" matTooltip="Visit">recent_actors</mat-icon>
                <mat-icon *ngIf="getActions(element).includes('visit')" (click)="deleteAction('visit', element)" class="delete-action">delete</mat-icon>
              </span>
              <span [style.position]="'relative'">
                <mat-icon (click)="addAction('call', element)" matTooltip="Call">phone_in_talk</mat-icon>
                <mat-icon *ngIf="getActions(element).includes('call')" (click)="deleteAction('call', element)" class="delete-action">delete</mat-icon>
              </span>
              <span [style.position]="'relative'">
                <mat-icon (click)="addAction('text', element)" matTooltip="Text">message</mat-icon>
                <mat-icon *ngIf="getActions(element).includes('text')" (click)="deleteAction('text', element)" class="delete-action">delete</mat-icon>
              </span>
            </div>
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="y">
          <th mat-header-cell *matHeaderCellDef> {{'previewImages.gesture.Action' | translate }} </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-icon (click)="deleteEventItem(element)" class="space_around">delete</mat-icon>
            <mat-icon *ngIf="!utility.saved[i]" matTooltip="save interation" (click)="addToAPI(element, i)">add_to_photos</mat-icon>
            <mat-icon class="saved" *ngIf="utility.saved[i]" (click)="addToAPI(element, i)" matTooltip="saved">library_add_check</mat-icon>
            <!-- <mat-icon (click)="addAction('', element)" [ngStyle]="{'color': element.userActions?'#00C851': ''}">add_to_home_screen</mat-icon> -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="interacrtionInterface.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: interacrtionInterface.displayedColumns;"></tr>
      </table>
      <div id="underlay">
        <figure class="filter-{{interacrtionInterface.selectedItem?.filterType}}">
          <img [src]="interacrtionInterface.selectedItem?.url" *ngIf="interacrtionInterface.selectedItem?.type == 'image'" />
        </figure>
        <figure class="filter-{{interacrtionInterface.selectedItem?.filterType}}" *ngIf="interacrtionInterface.selectedItem?.type == 'survey'">
          <img src="assets/images/surveyPlaceholderHeader.png"  />
        </figure>
        <video width="170" *ngIf="interacrtionInterface.selectedItem?.type == 'video'" class="vidio-prev" disablepictureinpicture
          controlslist="nodownload noremoteplayback" controls>
          <source [src]="interacrtionInterface.selectedItem.safeurl" type='video/webm' />
          <source [src]="interacrtionInterface.selectedItem.safeurl" type='video/mp4' />
          <source [src]="interacrtionInterface.selectedItem.safeurl" type='video/ogg' />
        </video>
        <div class="markers">
          <div *ngFor="let row of interacrtionInterface.gestArr" id="marker1"
            [ngStyle]="{ 'top': 'calc(' + row?.y + '%)', 'left': 'calc(' + row?.x + '%)'}" class="marker">
            <ngx-emoji [emoji]="{ id: row?.emoji, skin: 3 }" size="18" [sheetSize]="32"></ngx-emoji>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Step 0 -->
  <div class="step zero" *ngIf="interacrtionInterface.step == 0">
    <figure class="filter-{{interacrtionInterface.selectedItem?.filterType}}" (click)="showCoords($event)">
      <img style="width: 100%;" (click)="showCoords($event)" [src]="interacrtionInterface.selectedItem?.url"
        *ngIf="interacrtionInterface.selectedItem?.type == 'image'">
    </figure>
    <figure class="filter-{{interacrtionInterface.selectedItem?.filterType}}" (click)="showCoords($event)" *ngIf="interacrtionInterface.selectedItem?.type == 'survey'">
      <img style="width: 100%;" (click)="showCoords($event)" src="assets/images/surveyPlaceholderHeader.png">
    </figure>
    <video style="width: 100%;" class="vidio-prev" disablepictureinpicture (click)="showCoords($event)"
      *ngIf="interacrtionInterface.selectedItem?.type == 'video'" controlslist="nodownload noremoteplayback" autoplay loop>
      <source [src]="interacrtionInterface.selectedItem?.safeurl" type='video/webm' />
      <source [src]="interacrtionInterface.selectedItem?.safeurl" type='video/mp4' />
      <source [src]="interacrtionInterface.selectedItem?.safeurl" type='video/ogg' />
    </video>
  </div>

  <ng-container *ngIf="interacrtionInterface.step == 1">
    <mat-card>
       <button mat-raised-button color='primary' (click)='preInteractions()' class="m-r-10">Pick From Library</button>
       <button mat-raised-button color='primary' (click)="createNewInteraction()" class="m-r-10">Create New</button>
    </mat-card>
   </ng-container>

  <!-- Step 1 -->
  <ng-container *ngIf="interacrtionInterface.step == 2">
    <div class="reactions">
      <div class="icons">
        <emoji-mart
          [showPreview]="false"
          [sheetSize]="32"
          title="Pick your emoji…"
          [showSingleCategory]="true"
          [i18n]="{
            search: ('gallery.SearchPlaceholder' | translate),
            categories: {
              recent: ('previewImages.gesture.FrequentlyUsed' | translate)
            }
          }"
          (emojiSelect)="select($event)" emoji="point_up"></emoji-mart>
      </div>
    </div>
  </ng-container>  

  <!-- Step 2 -->
  <ng-container *ngIf="interacrtionInterface.step == 3">
    <mat-form-field appearance="outline">
      <mat-label>{{'previewImages.gesture.SelectGesture' | translate }}</mat-label>
      <mat-select [(ngModel)]="interacrtionInterface.gesture" (selectionChange)="onChange($event.value)">
        <mat-option value="">{{'previewImages.gesture.Select' | translate }}</mat-option>
        <mat-option value="tap">{{'previewImages.gesture.tap' | translate }}</mat-option>
        <mat-option value="long-tap">{{'previewImages.gesture.long-tap' | translate }}</mat-option>
        <mat-option value="rub">{{'previewImages.gesture.rub' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{'previewImages.gesture.SelectMediaType' | translate }}</mat-label>
      <mat-select [(ngModel)]="interacrtionInterface.mediaType" (selectionChange)="onChange($event.value)">
        <mat-option value="">{{'previewImages.gesture.Select' | translate }}</mat-option>
        <mat-option value="text">{{'previewImages.gesture.Text' | translate }}</mat-option>
        <mat-option value="image">{{'previewImages.gesture.Image' | translate }}</mat-option>
        <mat-option value="audio">{{'previewImages.gesture.Audio' | translate }}</mat-option>
        <mat-option value="video">{{'previewImages.gesture.Video' | translate }}</mat-option>
        <mat-option value="survey">{{'Survey' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{'previewImages.gesture.SelectTime' | translate }}</mat-label>
      <input type="number" matInput [(ngModel)]="interacrtionInterface.mediaTime" id="mediaTime" />
    </mat-form-field>
  </ng-container>

  <!-- Step 3 -->
  <ng-container *ngIf="interacrtionInterface.actionView">
    <!-- <mat-form-field appearance="outline">
      <mat-label>{{'previewImages.gesture.UserActions' | translate }}</mat-label>
      <mat-select [formControl]="userAction" (selectionChange)="onChangeUserAction($event)" multiple>
        <mat-option *ngFor="let action of userActions" [value]="action.value">
          {{'previewImages.gesture.' + action.label | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-form-field appearance="outline" *ngIf="interacrtionInterface.selectedAction == 'buy'">
      <mat-label>{{'Buy Text' | translate }}</mat-label>
      <input type="text" matInput [(ngModel)]="interacrtionInterface.buyActionText" id="buyText" />
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="interacrtionInterface.selectedAction == 'visit'">
      <mat-label>{{'Visit Text' | translate }}</mat-label>
      <input type="text" matInput [(ngModel)]="interacrtionInterface.visitActionText" id="visitText" />
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="interacrtionInterface.selectedAction == 'call'">
      <mat-label>{{'previewImages.gesture.CallNumber' | translate }}</mat-label>
      <input type="number" matInput [(ngModel)]="interacrtionInterface.phoneNumber" id="phoneNo" />
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="interacrtionInterface.selectedAction == 'text'">
      <mat-label>{{'previewImages.gesture.SMSNumber' | translate }}</mat-label>
      <input type="number" matInput [(ngModel)]="interacrtionInterface.smsNumber" id="smsNo" />
    </mat-form-field>
  </ng-container>

  <!-- Step 4 -->
  <ng-container *ngIf="interacrtionInterface.step == 4">
    <mat-form-field *ngIf="interacrtionInterface.mediaType == 'text'" appearance="outline">
      <mat-label>{{'previewImages.gesture.EnterText' | translate }}...</mat-label>
      <textarea matInput type="text" [rows]="3" [(ngModel)]="interacrtionInterface.Text"
        id="exampleFormControlInput1"></textarea>
    </mat-form-field>

    <!-- <mat-form-field *ngIf="mediaType == 'survey'" appearance="outline">
      <mat-label>{{'Select Survey' | translate }}</mat-label>
      <mat-select [(ngModel)]="survey">
        <mat-option [value]="s" *ngFor="let s of surveys">{{ s.name }}</mat-option>
      </mat-select>
    </mat-form-field> -->

    <ng-container *ngIf="interacrtionInterface.mediaType == 'survey'">
      <ngx-datatable #table
        class="material fullscreen"
        [rows]="interacrtionInterface.surveys"
        [virtualization]="false"
        headerHeight="50"
        footerHeight="50"
        rowHeight="auto"
        [scrollbarH]="true"
        [reorderable]="false"
        [selectionType]="'single'"
        (select)="onSelect($event)">

          <ngx-datatable-column [minWidth] = "50" [maxWidth]="50" name="" prop="id">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <mat-radio-button color="primary" [checked]="interacrtionInterface.survey?.id == row.id"></mat-radio-button>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [minWidth] = "50" [maxWidth]="50" name="{{'assets.IdLabel' | translate}}" prop="id"></ngx-datatable-column>
          <ngx-datatable-column [minWidth] = "200"  name="{{'assets.NameLabel' | translate}}" prop="name"></ngx-datatable-column>
          <ngx-datatable-column [minWidth] = "300" name="{{'assets.DescriptionLabel' | translate}}" prop="description">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.description}}
              <button mat-raised-button (click)="$event.stopPropagation();redirectTo(row)" class="m-l-10" color="primary">Play</button>
            </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
    </ng-container>

    <ng-container *ngIf="interacrtionInterface.mediaType == 'image'">
      <button mat-raised-button class="add-file m-r-10 interaction-btn" color="primary">
        <mat-icon>collections</mat-icon>
        <mat-label>
          <input #addImage type="file" name="add-image" (change)="setImage($event)" id="add-image"
            accept="image/gif, image/png, image/jpeg, image/bmp, image/webp" />Gallery
        </mat-label>
      </button>
      <button mat-raised-button color="primary" (click)="captureImage()"><mat-icon>camera_enhance</mat-icon>Take Picture</button>
      <figure *ngIf="sanitizer.fileUrl" class="filter-{{interacrtionInterface.gesFilterType}} p-t-10" (click)="updateImage()">
        <img style="width: 100%;" [src]="sanitizer.bypassSecurityTrustUrl(interacrtionInterface.fileUrl)">
      </figure>
    </ng-container>

    <ng-container *ngIf="sanitizer.mediaType == 'audio'">
      <div fxLayout="column" fxLayoutGap="15px">
        <div fxLayout="row wrap" fxLayoutGap="10px">
          <button mat-raised-button class="add-file interaction-btn" color="primary">
            <mat-icon>collections</mat-icon>
            <mat-label>
              <input type="file" id="file-input" accept="audio/mp3,audio/*;capture=microphone"
              (change)="selectGesMp3($event)" />Gallery
            </mat-label>
          </button>
          <button mat-raised-button (click)="recordAudio()" class="add-file" color="primary">
            <mat-icon>record_voice_over</mat-icon>
            <mat-label>{{'previewImages.gesture.RecordAudio' | translate}}
            </mat-label>
          </button>
        </div>

        <div fxFlex="100">
          <div class="wave-container" [ngStyle]="{'display': interacrtionInterface.showRecorder ? 'block' : 'none'}">
            <div id="waves">
              <audio id="myAudio" class="video-js vjs-default-skin parent-audio"></audio>
            </div>
            <div class="btm-cntrl">
              <img [src]="'https://panaroamer-theming-test.s3.us-east-2.amazonaws.com/Panaroamer/assets/Default/pause.png'" *ngIf="interacrtionInterface.startGesRecord && !isRecording"
                class="play-pause pauseicn m-r-10" (click)="playPauseAudio()">
              <img [src]="'https://panaroamer-theming-test.s3.us-east-2.amazonaws.com/Panaroamer/assets/Default/play-audio.png'" *ngIf="interacrtionInterface.startGesRecord && isRecording"
                class="play-pause playicn m-r-10" (click)="playPauseAudio()">
              <img width="12" [src]="'https://panaroamer-theming-test.s3.us-east-2.amazonaws.com/Panaroamer/assets/Default/cancel-audio.png'" class="play-pause playicn exit-audio"
                (click)="showRecorder = false">
            </div>
          </div>
          <audio id="plyAudio" *ngIf="interacrtionInterface.fileUrl" controlsList="nodownload" controls="controls" autoplay>
            <source [src]="sanitizer.bypassSecurityTrustUrl(interacrtionInterface.fileUrl)" type="audio/wav">
          </audio>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="interacrtionInterface.mediaType == 'video'">
      <div fxLayout="column" fxLayoutGap="15px">
        <div fxLayout="row wrap" fxLayoutGap="10px">
          <button mat-raised-button class="add-file interaction-btn" color="primary">
            <mat-icon>collections</mat-icon>
            <mat-label>
              <input type="file" id="file-input" #forVideo accept="video/mp4,video/webm,video/ogg"
              (change)="addGesVideos($event)" />Gallery
            </mat-label>
          </button>
          <button mat-raised-button (click)="recordVid()" class="add-file" color="primary">
            <mat-icon>radio_button_checked</mat-icon>
            <mat-label>{{'previewImages.gesture.RecordVideo' | translate}}
            </mat-label>
          </button>
        </div>
        <div fxFlex="100">
          <video *ngIf="interacrtionInterface.fileUrl" width="170" class="vidio-prev mt-3" disablepictureinpicture
            controlslist="nodownload noremoteplayback" controls id="playerVddideo">
            <source [src]="sanitizer.bypassSecurityTrustUrl(interacrtionInterface.fileUrl)" type='video/mp4' />
            <source [src]="sanitizer.bypassSecurityTrustUrl(interacrtionInterface.fileUrl)" type='video/webm' />
            <source [src]="sanitizer.bypassSecurityTrustUrl(interacrtionInterface.fileUrl)" type='video/ogg' />
          </video>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <div [ngStyle]="{'display': interacrtionInterface.showVideoRec ? 'block' : 'none'}" class="wave-container">
    <div id="vid-parent1">
      <video id="myvideo1" class="video-js vjs-default-skin parent-audio"></video>
    </div>

    <div class="rcrd-cntrl" *ngIf="!interacrtionInterface.startRecording">
      <!-- <img src="assets/icons/pause.png" *ngIf="!isRecording" class="play-pause pauseicn" (click)="playPause()">
          <img src="assets/icons/play.png" *ngIf="isRecording" class="play-pause" (click)="playPause()"> -->
      <img src="assets/icons/record.png" class="recording-icon" (click)="startRecord()">
    </div>

    <div class="rcrd-cntrl" *ngIf="interacrtionInterface.startRecording">
      <img src="assets/icons/record-stop.png" class="recording-icon" (click)="stopRecord()">
    </div>

    <div class="rcrd-pause" *ngIf="interacrtionInterface.startRecording && !interacrtionInterface.isRecording">
      <img src="assets/icons/record-pause.png" class="recording-icon" (click)="playPauseVid()">
    </div>

    <div class="rcrd-pause" *ngIf="interacrtionInterface.startRecording && interacrtionInterface.isRecording">
      <img src="assets/icons/record.png" class="recording-icon" (click)="playPauseVid()">
    </div>

    <div class="rcrd-flip" *ngIf="!interacrtionInterface.startRecording && isMobile">
      <img src="assets/icons/cam-flip.png" class="recording-icon" (click)="flipCamera()">
    </div>

    <div class="cancel-recording" *ngIf="!interacrtionInterface.startRecording">
      <img src="assets/icons/cancel.png" class="recording-icon" (click)="exitRecord()">
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <ng-container *ngIf="interacrtionInterface.step == 4 && interacrtionInterface.mediaType == 'text'">
    <button mat-raised-button (click)="submitObj()" color="primary" cdkFocusInitial>
      {{'forgotPassword.SubmitButton' | translate}}
    </button>
  </ng-container>
  <ng-container *ngIf="interacrtionInterface.actionView">
    <button mat-raised-button color="primary" (click)="submitAction()" cdkFocusInitial>
      {{'forgotPassword.SubmitButton' | translate }}
    </button>
  </ng-container>
  <ng-container *ngIf="interacrtionInterface.step == -1">
    <button mat-button (click) = "setInteractionData()">Done</button>
    <button mat-raised-button (click)="next()" color="primary" cdkFocusInitial>
      {{'previewImages.gesture.AddInteraction' | translate }}
    </button>
  </ng-container>
</mat-dialog-actions>
