<div class="settings">
    <img src="assets/images/settings.png">
  </div>
<mat-form-field class="dropdown" appearance="none">
    <mat-select [(ngModel)]="selectedLanguage">
      <mat-option *ngFor="let lan of languageArr" (click)="selectedLanguage = lan; changeLanguage()">
        <span>
          <img class="dropdown-img" src="{{lan.src}}" />
        </span>
        <span>
          {{lan.lang}}
        </span>
      </mat-option>
    </mat-select>
  </mat-form-field>