
.settings img {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    right: 25px;
  }
  
  .dropdown {
    width: 12%;
    position: absolute;
    top: -7px;
    right: 3px;
  }
  
  .dropdown-img {
    height: 22px;
    width: 22px;
    margin-bottom: -5px;
    border-radius: 50%;
  }