<div class="cross d-flex" fxLayout="row" (click)="closeModal()" fxLayoutAlign="center center">
    <mat-icon>close</mat-icon>
</div>
<div class="schedule">
<app-preview-scheduling-calender [title] = 'title'></app-preview-scheduling-calender>
</div>
<div mat-dialog-actions class="sapce p-b-20 m-r-10" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
    <button mat-raised-button class="m-r-10" (click)="closeModal()" color="primary">Done</button>
</div>   