ngx-datatable {
  width: 100%;
  padding: 0 20px;
  background-color: white !important;

  &.ngx-datatable.material.single-selection {
    ::ng-deep {
      .datatable-body-row.active .datatable-row-group {
        background-color: #b8b9c4;
      }
    }
  }
  ::ng-deep {
    .datatable-body-cell-label {
      white-space: nowrap;
    }
    .datatable-header-inner {
      width: 100% !important;
    }
  }
}
.ngx-datatable.material:hover {
  cursor: pointer !important;
}
