<mat-dialog-content>
  <ngx-datatable #table
    class="material fullscreen"
    [rows]="assets.items"
    [virtualization]="false"
    headerHeight="50"
    footerHeight="50" 
    rowHeight="auto"
    [scrollbarH]="true"
    [reorderable]="false"
    [selected]="assets.selected"
    [selectionType]="'single'"
    (select)="onSelect($event)">
      <ngx-datatable-column  [minWidth] = "100" name="{{'assets.IdLabel' | translate}}" prop="id"></ngx-datatable-column>
      <ngx-datatable-column [minWidth] = "200"  name="{{'assets.NameLabel' | translate}}" prop="name"></ngx-datatable-column>
      <ngx-datatable-column [minWidth] = "300" name="{{'assets.DescriptionLabel' | translate}}" prop="description">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.description}}
          <button mat-raised-button (click)="$event.stopPropagation();redirectTo(row)" class="m-l-10" color="primary">Play</button>
        </ng-template>
      </ngx-datatable-column>
  </ngx-datatable>
</mat-dialog-content>
