<div class="survey-container">
  <mat-tab-group (selectedTabChange)="onTabChanged($event)">
    <ng-container *ngFor="let item of survey.tabs; let i = index">
      <mat-tab label="{{ item }}">
        <mat-card>
          <mat-card-content>
            <div
              class="product-list"
              infinite-scroll
              [infiniteScrollDistance]="infiniteGrid.scrollDistance"
              [infiniteScrollUpDistance]="infiniteGrid.scrollUpDistance"
              [infiniteScrollThrottle]="infiniteGrid.throttle"
              [scrollWindow]="true"
            >
              <div class="card">
                <div class="card-body">
                  <div class="product">
                    <mat-expansion-panel [(expanded)]="survey.openPanel">
                      <mat-expansion-panel-header
                        [ngClass]="{
                          background: !utility.dark,
                          'dark-background': utility.dark
                        }"
                      >
                        <p class="header"><strong>Survey</strong></p>
                      </mat-expansion-panel-header>
                      <div class="carousel-container">
                        <owl-carousel-o [options]="infiniteGrid.customOptions">
                          <ng-container
                            *ngFor="let slide of survey.items; let i = index"
                          >
                            <ng-template carouselSlide [id]="'slide' + i">
                              <div class="product-block">
                                <div class="media">
                                  <img
                                    (click)="onSelect(slide)"
                                    src="assets/images/survey.svg"
                                  />
                                </div>
                                <div class="product-info">
                                  <div class="price" (click)="onSelect(slide)">
                                    <b>{{ slide.name }}</b>
                                  </div>
                                  <div class="price">
                                    <span>{{ slide.description }}</span>
                                  </div>
                                  <div class="play">
                                    <button
                                      mat-raised-button
                                      color="primary"
                                      (click)="redirectTo(slide)"
                                    >
                                      Play
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </ng-template>
                          </ng-container>
                        </owl-carousel-o>
                      </div>
                      <mat-expansion-panel class="upperSpace">
                        <mat-expansion-panel-header
                          [ngClass]="{
                            background: !utility.dark,
                            'dark-background': utility.dark
                          }"
                        >
                          <p class="header"><strong>Sub Survey</strong></p>
                        </mat-expansion-panel-header>
                        <div class="carousel-container">
                          <owl-carousel-o
                            [options]="infiniteGrid.customOptions"
                          >
                            <ng-container
                              *ngFor="let slide of survey.items; let i = index"
                            >
                              <ng-template carouselSlide [id]="'slide' + i">
                                <div class="product-block">
                                  <div class="media">
                                    <img
                                      (click)="onSelect(slide)"
                                      src="assets/images/survey.svg"
                                    />
                                  </div>
                                  <div class="product-info">
                                    <div
                                      class="price"
                                      (click)="onSelect(slide)"
                                    >
                                      <b>{{ slide.name }}</b>
                                    </div>
                                    <div class="price">
                                      <span>{{ slide.description }}</span>
                                    </div>
                                    <div class="play">
                                      <button
                                        mat-raised-button
                                        color="primary"
                                        (click)="redirectTo(slide)"
                                      >
                                        Play
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </ng-template>
                            </ng-container>
                          </owl-carousel-o>
                        </div>
                      </mat-expansion-panel>
                    </mat-expansion-panel>
                  </div>
                </div>
              </div>
            </div>
            <!-- <ngx-datatable #table [rows]="survey.items" 
                        headerHeight="50" footerHeight="50" rowHeight="auto" 
                        [selected]="survey.selected" [selectionType]="'single'" 
                        (select)="onSelect($event)" class="material fullscreen" [scrollbarH]="true">
                        <ngx-datatable-column [minWidth]="250" name="{{'assets.IdLabel' | translate}}" prop="id"></ngx-datatable-column>
                        <ngx-datatable-column [minWidth]="350" name="{{'assets.NameLabel' | translate}}" prop="name"></ngx-datatable-column>
                        <ngx-datatable-column [minWidth]="350" name="{{'assets.DescriptionLabel' | translate}}" prop="description">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                              {{row.description}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [minWidth]="150">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <button mat-raised-button (click)="$event.stopPropagation();redirectTo(row)" class="m-l-10"
                                color="primary">Play</button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable> -->
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</div>
