span {
  font-size: small;
  margin-bottom: 10px;
}
ngx-datatable {
  width: 100%;
  padding: 0 20px;
  background-color: white !important;

  &.ngx-datatable.material.single-selection {
    ::ng-deep {
      .datatable-body-row.active .datatable-row-group {
        background-color: #b8b9c4;
      }
    }
  }
  //   &.ngx-datatable .datatable-header .datatable-header-cell .sort-btn {
  //     display: none !important;
  //   }
  ::ng-deep {
    .datatable-body-cell {
      vertical-align: middle;
    }
    .datatable-body-cell-label {
      white-space: nowrap;
    }
    .datatable-header-cell .sort-btn {
      display: none !important;
    }
    .datatable-header {
      width: 96.5% !important;
    }
    .datatable-header-inner {
      width: 100% !important;
    }
    .datatable-scroll {
      width: 96.5% !important;
    }
  }
}
.ngx-datatable.material:hover {
  cursor: pointer !important;
}

.survey-container {
  mat-icon {
    cursor: pointer;
  }
  mat-card {
    margin: 15px;
    padding: 0;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;

    mat-card-content {
      font-size: 1rem;
      line-height: 23px;
      padding: 24px;
    }
  }
  .profile {
    color: #455a64;
  }
  .tabs {
    .card-title {
      margin: 15px 0 20px 0;
    }
    .follow-btn {
      margin-right: 5px;
    }
    .details {
      margin-top: 20px;

      mat-icon {
        height: 20px;
        width: 20px;
        position: relative;
        top: 5px;
        margin-right: 8px;
        font-size: 20px;
      }
    }
    .social-icons {
      background-color: #f2f4f8;

      div {
        padding: 10px 0;

        a {
          color: #455a64;
          text-decoration: none;
        }
      }
    }
  }
  .action-btn {
    position: absolute;
    right: 10px;
    top: 10px;

    mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
    }
  }
  .isEffects {
    color: #00c851;
  }
}

.product,
.sub-product {
  padding-bottom: 5px;

  .carousel-container {
    ::ng-deep {
      .owl-carousel {
        &:hover {
          .owl-nav {
            visibility: visible;
            opacity: 1;
          }
        }
        .owl-item {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        // .owl-stage {
        //   min-width: 10317px !important;
        // }

        .owl-nav {
          display: flex;
          position: absolute;
          top: 46%;
          width: 100%;
          margin: 0;
          justify-content: space-between;
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s, opacity 0.5s linear;

          [class*="owl-"] {
            background-color: rgb(67, 176, 42);
            border-radius: 100%;
            width: 42px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;

            &.disabled {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  .header {
    margin: 0px;
  }
  .background {
    background-color: whitesmoke;
  }
  .dark-background {
    background-color: grey;
  }
  .product-block {
    width: 200px;
    padding: 0 20px;
    .media {
      cursor: pointer;
      .add {
        display: flex;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 1px solid rgb(67, 176, 42);
      }
      img {
        display: block;
        width: 155px;
        height: 155px;
        margin: 10px auto;
      }
    }
    .product-info {
      .price {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .play {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .mini-product {
      font-weight: 300;
    }
  }
}
.around-space {
  margin-top: 30px;
}
.upperSpace {
  margin-top: 25px;
}
