<div class="cross d-flex" fxLayout="row" (click)="closeModal()" fxLayoutAlign="center center">
  <mat-icon>close</mat-icon>
</div>
<div mat-dialog-content>
  <div class="main" fxLayout="row wrap" fxlayoutAlign="cennter center" fxLayoutGap="10px">
    <div class="content" *ngIf="selectedGesture?.type == 'image'">
      <figure class="filter-{{selectedGesture?.gesFilterType}}">
        <img class="selected-img" [src]="sanitizer.bypassSecurityTrustUrl(selectedGesture?.text)" alt="">
      </figure>
    </div>
    <div class="content" *ngIf="selectedGesture?.type == 'video'">
      <video width="400" controls>
        <source [src]="sanitizer.bypassSecurityTrustUrl(selectedGesture?.text)" type="video/mp4">
        Your browser does not support HTML video.
      </video>
    </div>
    <div class="content audio" *ngIf="selectedGesture?.type == 'audio'">
      <audio controls>
        <source [src]="sanitizer.bypassSecurityTrustUrl(selectedGesture?.text)" type="audio/ogg">
        <source [src]="sanitizer.bypassSecurityTrustUrl(selectedGesture?.text)" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="content" *ngIf="selectedGesture?.type == 'text'">
      <h2 class="m-0">{{selectedGesture?.text}}</h2>
    </div>
    <div class="content" *ngIf="selectedGesture?.type == 'survey'">
      <div class="survey"></div>
    </div>
  </div>
</div>
<div mat-dialog-actions *ngIf="selectedGesture?.userActions?.length" fxLayout="row wrap" fxlayoutAlign="center center">
  <div class="text-center userActions mt-4" fxLayout="row wrap" fxlayoutAlign="center center" fxLayoutGap="10px">
    <ng-container *ngFor="let item of selectedGesture?.userActions">
        <a [href]="item.value" class="mr-2" target="_blank" *ngIf="item.action == 'buy'">
            <mat-icon matTooltip="Buy">shopping_cart</mat-icon>
        </a>
        <a [href]="item.value" class="mr-2" target="_blank" *ngIf="item.action == 'visit'">
            <mat-icon matTooltip="Visit">recent_actors</mat-icon>
        </a>
        <a [href]="'tel:' + item.value" class="mr-2" *ngIf="item.action == 'call'">
            <mat-icon matTooltip="Call">phone_in_talk</mat-icon>
        </a>
        <a [href]="sanitizer.bypassSecurityTrustUrl('sms:' + item.value)" class="mr-2" *ngIf="item.action == 'text'">
            <mat-icon matTooltip="Text">message</mat-icon>
        </a>
    </ng-container>
  </div>
</div>
