.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #1e88e5;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pre-loader{
  transition-duration: 10s;
  background-color: black;
  height: 100vh;
  width: 100vw;
  opacity: 0.5;
  z-index: 2000;
  position: absolute;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
}
