
  <!-- <div></div>
  <button mat-raised-button color='primary' class="m-r-10"></button>
  <button mat-raised-button color='primary' class="m-r-10"></button> -->
  <div class="cross d-flex" fxLayout="row" (click)="dialogRef.close()" fxLayoutAlign="center center">
    <mat-icon>close</mat-icon>
  </div>
    <mat-dialog-content>
        <h4>How you want to save the interaction?</h4>
      </mat-dialog-content>
      <div mat-dialog-actions align="end">
          <button mat-button mat-flat-button color="primary" (click)="rediretTo()">Create New Folder</button>
          <button mat-button mat-flat-button color="primary" (click)="rediretTo()">Review Existing
            Folders</button>
      </div>
      