mat-dialog-content {
    margin-bottom: 16px;
    overflow: hidden;
  }

  .cross {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: #3c4252;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
  
    .mat-icon {
      color: #ffffff;
      width: 16px;
      height: 16px;
      font-size: 16px;
    }
  }
  