<div fxLayout="row wrap" *ngIf="productList.length">
  <!-- Card column -->
  <div fxFlex.gt-sm="50%" fxFlex="100" *ngFor="let item of productList;let i = index">
      <mat-card>
          <mat-card-header>
              <!-- <div mat-card-avatar>
                  <img src="assets/images/users/1.jpg" class="img-fluid img-circle" />
              </div> -->
              <mat-card-title>{{item.name}}</mat-card-title>
              <mat-card-subtitle>{{(item.unit_amount/100) | currency : 'USD' :'symbol': '1.2-2'}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="item.images[0]" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <mat-card-actions>
                <button mat-raised-button (click)="pay(item)" type="button" color="primary">Pay</button>
              </mat-card-actions>
          </mat-card-content>
      </mat-card>
  </div>
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center">
    <button mat-button type="button">Cancel</button>
  </div>
</div>
