.mat-card .mat-card-image {
  height: 250px;
}
mat-card-content {
  padding: 0 10px 5px !important;
}
.mat-form-field.search {
  padding: 0 20px;
}
.mat-card .mat-card-header {
  ::ng-deep {
    .mat-card-header-text {
      margin: 0;
    }
  }
  .mat-card-title {
    font-size: 14px;
  }
}
