<div fxLayout="row wrap">
  <mat-card class="container-leafmap" fxFlex="100">
    <div class="banner" #fullScreen>
      <img (click)="closeFullscreen()" *ngIf="mapInterface.landscape" class="collaps" width="30" src="assets/icons/collaps.png">

      <div class="map-container" *ngIf="mapInterface.options">
        <div class="center-content" [ngStyle]="{'top': 'calc(5vh + 16px)'}" *ngIf="mapInterface.selectedItem">
          <div class="info-card">
            <mat-card class="card" fxFlex="column wrap" fxLayoutAlign="center center">
              {{ mapInterface.selectedItem?.name }} | {{ mapInterface.selectedItem?.author }} | <img (click)="openModalMore()"
                [src]="'https://panaroamer-theming-test.s3.us-east-2.amazonaws.com/Panaroamer/assets/Default/arrow.png'">
            </mat-card>
            <div class="set-path" *ngIf="mapInterface.selectPath">
              <button mat-button (click)="setPath();$event.stopPropagation()">
                {{'previewImages.gesture.Done' | translate}}
              </button>
            </div>
          </div>
        </div>
        <div leaflet [ngClass]="{'fullScreen': mapInterface.landscape}"
          class="leaf-map" [leafletOptions]="mapInterface.options" [leafletCenter]="center" [leafletLayers]="mapInterface.markers"
          (leafletClick)="onMapClick($event)" (leafletMapReady)="onMapReady($event)">
          <div class="btns map-btns" fxLayout="column" fxLayoutGap="15px">
            <button mat-button class="path-icon" *ngIf="!mapInterface.selectPath">
              <img [src]="'assets/icons/iconmonstr-chart-23-32.png'" (click)="setPath();$event.stopPropagation()" *ngIf="mapInterface.showEachPath">
              <img [src]="'assets/icons/map-path.png'" (click)="showAllPath();$event.stopPropagation()" *ngIf="!mapInterface.showEachPath">
            </button>
            <button mat-button class="location" (click)="getCurrent();$event.stopPropagation()">
              <img [src]="'assets/images/current-location.png'">
            </button>
            <button *ngIf="!mapInterface.selectPath" category (click)="$event.stopPropagation()" class="category" mat-button #trigger="matMenuTrigger" [matMenuTriggerFor]="menuSurvey">
              C
            </button>
            <mat-menu #menuSurvey="matMenu" class="map-menu">
              <button mat-menu-item (click)="$event.stopPropagation()">
                <input type="checkbox" [checked]="mapInterface.myForm.value.categories.length === mapInterface.categories.length"
                (change)="onSelectAll($event.target.checked)" id="cat-all">
                  <label for="cat-all" style="cursor: pointer;"> {{ 'Select All' | translate }}</label>
              </button>
              <button mat-menu-item *ngFor="let data of mapInterface.categories;let i = index" (click) = "$event.stopPropagation()">
                <input type="checkbox" [checked]="mapInterface.myForm.value.categories.includes(data)"
                  (change)="onChange(data, $event.target.checked)" id="cat{{i}}">
                  <label for="cat{{i}}" style="cursor: pointer;"> {{ 'Categories.' + data | translate }}</label>
              </button>
              <!-- <button mat-menu-item>{{'previewImages.RemoveSurvey' | translate}}</button> -->
            </mat-menu>
          </div>
          <!-- <button type="button" class="category" (click)="$event.stopPropagation()" [outsideClick]="true" placement="right" class="category">C</button> -->
          <ng-template #popTemplate>
            <form [formGroup]="mapInterface.myForm">
              <div (click)="$event.stopPropagation()" *ngFor="let data of mapInterface.categories">
                <!-- <input type="checkbox" [checked]="myForm.value.categories.length === categories.length"
                  (change)="onSelectAll($event.target.checked)"> {{ 'Select All' | translate }}<br> -->
                <input type="checkbox" [checked]="mapInterface.myForm.value.categories.includes(data)"
                  (change)="onChange(data, $event.target.checked)"> {{ 'Categories.' + data | translate }}<br>
              </div>
            </form>
          </ng-template>
        </div>
        <div class="bottom-content" *ngIf="mapInterface.selectedItem && !mapInterface.isFullscreen">
          <app-chat-panel [mapData]="mapInterface.selectedItem" [isExpanded] = "utility.isExpanded"></app-chat-panel>
        </div>
      </div>
    </div>
  </mat-card>
</div>
