.container-leafmap, .leaf-map {
  height: calc(100vh - 95px);
  margin: 0;

  &.leaflet-pseudo-fullscreen {
    .btns {
      position: relative;
      top: calc(100vh - 110px);
      left: 12px;
    }
  }
}
.location img {
	left: 3px;
  height: 20px;
  width: auto;
  text-align: center;
  position: absolute;
  top: 3px;
}
.btns {
  position: absolute;
  // top: calc(100vh - 210px);
  bottom: 35px;
  left: 12px;
}
.set-path {
  // position: absolute;
  // bottom: 50px;
  // right: 20px;

  button {
    background: #fff;
    z-index: 99999;
    color: black;
    line-height: 26px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    padding: 1px 6px !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
.location, .category, .path-icon {
  background: #fff;
  z-index: 99999;
  color: black;
  width: 26px;
  height: 26px;
  min-width: 26px;
  max-width: 30px;
  line-height: 26px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  padding: 1px 6px !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.path-icon img {
  width: 20px;
  left: -3px;
  position: relative;
  bottom: 2px;
}
.center-content {
  top: 16px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 500;
  top: 16px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  .center-content .favourite-icon .card.more .mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
  .center-content .favourite-icon .card img {
    width: 20px;
    height: 20px;
  }
  .center-content .favourite-icon .card {
    border-radius: 100%;
    padding: 10px;
  }
  .center-content .favourite-icon {
    position: relative;
    right: -35px;
    display: flex;
  }

  .info-card {
    position: relative;
    left: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
  }
  .info-card .card {
    padding: 8px 16px !important;
    border-radius: 26px;
    font-weight: bold;

    @media only screen and (max-width: 380px) {
      max-width: 250px;
    }
  }
  .info-card .card{
    display: inline-block;
  }
  .info-card .card img{
    height: 20px;
      padding-left: 5px;
  }
}

.bottom-content .mat-accordion {
  position: fixed;
  bottom: 15px !important;
}
.bottom-content .mat-accordion {
  position: fixed;
  width: calc(100% - 270px);
  z-index: 1000;

  @media only screen and (max-width: 768px) {
    width: calc(100% - 30px);
  }
}
.bottom-content .mat-accordion .mat-expansion-panel .remove .mat-icon {
  font-size: 32px;
  height: 32px;
  color: #b9b5b5;
}
.bottom-content .mat-accordion .mat-expansion-panel .remove {
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}
.bottom-content .mat-accordion .mat-expansion-panel {
  background: #fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 2px -14px 6px -4px rgba(0,0,0,0.1) !important;

}
.bottom-content .mat-accordion .mat-expansion-panel .mat-expansion-panel-header {
  max-height: 25px !important;
}
.bottom-content .mat-accordion .mat-expansion-panel-body {
  padding: 0 15px !important;
  overflow: hidden;
}
.bottom-content .mat-accordion .mat-expansion-panel .mat-expansion-indicator {
  display: none;
}
.mat-accordion.show .overflow-chat {
  height: calc(100vh - 195px);
}
.mat-accordion.hide-acc .overflow-chat {
  height: calc(100vh - 450px);
}
.new-map .mat-accordion.hide-acc .overflow-chat {
  height: calc(100vh - 60vh);
}
@media only screen and (max-width: 700px) {
  app-play .mat-accordion.hide-acc .overflow-chat {
      height: calc(100vh - 102vw - 50px) !important;
  }
  .mat-accordion.show .overflow-chat {
      height: calc(100vh - 195px) !important;
  }
  app-map .popover {
    top: -8px !important;
  }
}
@media only screen and (max-width: 374px) {
  app-play .mat-accordion.hide-acc .overflow-chat {
      height: calc(100vh - 120vw) !important;
  }

  app-gallary .nav-link {
      padding: 8px 10px;
  }
}
.bottom-content .mat-accordion .mat-expansion-panel .mat-expansion-panel-header.panel-header{
  padding: 15px 5px;
}
.bottom-content .mat-expansion-panel.panel-1{
  border-top-left-radius: 32px !important;
  border-top-right-radius: 32px !important;
}
