<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
  <div class="login-register-box">
    <mat-card>
      <mat-card-content *ngIf="!register.confirmSignUp">
        <form [formGroup]="register.form" (ngSubmit)="onSubmit()">
          <div class="text-center">
            <img alt="homepage" src="https://panaroamer-theming-test.s3.us-east-2.amazonaws.com/Panaroamer/assets/Sports/Group-221.png">
            <h4 class="m-t-0">{{'registration.registerTitle' | translate}}</h4>
          </div>
          <div fxLayout="row wrap">
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="{{'registration.EmailPlaceHolder' | translate}}" type="email" [formControl]="register.form.controls['email']">
              </mat-form-field>
              <small *ngIf="register.form.controls['email'].hasError('required') && register.form.controls['email'].touched" class="text-danger support-text">{{ 'registration.requiredEmail' | translate}}</small>
              <small *ngIf="register.form.controls['email'].errors?.email && register.form.controls['email'].touched" class="text-danger support-text">You must include a valid email address.</small>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput [type]="register.hide ? 'password' : 'text'" placeholder="{{'registration.PasswordPlaceHolder' | translate}}" [formControl]="register.form.controls['password']">
                <button mat-icon-button matSuffix type="button" (click)="register.hide = !register.hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="register.hide">
                  <mat-icon>{{ register.hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <small *ngIf="register.form.controls['password'].hasError('required') && register.form.controls['password'].touched" class="text-danger support-text">{{ 'registration.requiredPassword' | translate}}</small>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="{{'registration.ConfirmPasswordPlaceHolder' | translate}}" [formControl]="register.form.controls['confirmPassword']" [type]="register.hideConfirm ? 'password' : 'text'">
                <button mat-icon-button matSuffix type="button" (click)="register.hideConfirm = !register.hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="register.hideConfirm">
                  <mat-icon>{{ register.hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <small *ngIf="register.form.controls['confirmPassword'].hasError('required') && register.form.controls['confirmPassword'].touched" class="text-danger support-text">You must include confirm password.</small>
              <small *ngIf="register.form.controls['confirmPassword'].errors?.equalTo" class="text-danger support-text">Passwords do not math.</small>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <!-- <mat-checkbox class="font-14" formControlName="terms" required>I agree to the
                <a href="javascript:void(0)" class="link text-info">Terms and Condition</a>.</mat-checkbox> -->
              <mat-checkbox class="font-14" formControlName="terms" required>
                {{'registration.TermsConditionText' | translate}}
              </mat-checkbox>
            </div>
            <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="submit" [disabled]="!register.form.valid">{{'registration.SignUpButton' | translate}}</button>

            <div class="text-center" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <span>{{'registration.bottomText' | translate}}
                <a (click) = "click()" class="link text-info"> {{'registration.LoginButton' | translate}}</a>
              </span>
            </div>
          </div>
        </form>
      </mat-card-content>

      <mat-card-content *ngIf="register.confirmSignUp">
        <form>
          <div class="text-center">
            <img alt="homepage" src="https://panaroamer-theming-test.s3.us-east-2.amazonaws.com/Panaroamer/assets/Sports/Group-221.png">
            <h4 class="m-t-0">{{'registration.Confirm' | translate}}</h4>
          </div>
          <div fxLayout="row wrap">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput [(ngModel)]="register.confirmCode" [ngModelOptions]="{standalone: true}" class="form-input" placeholder='{{"registration.SubmitButtonCodePlaceHolder" | translate}}' type='text'>
              </mat-form-field>
            </div>
            <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="button" (click)="onConfirm()">{{'registration.SubmitButton' | translate}}</button>
            <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="button" (click)="resendCode()">{{'registration.SendCode' | translate}}</button>
            <button mat-raised-button color="primary" (click)="resetSignUp()" class="btn-block btn-lg m-t-20 m-b-20" type="button">{{'registration.ResetButton' | translate}}</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
