<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
    <div class="login-register-box">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="login.form" (ngSubmit)="onSubmit()">
                    <div class="text-center">
                        <img alt="homepage" src="https://panaroamer-theming-test.s3.us-east-2.amazonaws.com/Panaroamer/assets/Sports/Group-221.png">
                        <h4 class="m-t-0">{{'login.titleText' | translate}}</h4>
                    </div>

                    <div fxLayout="row wrap">
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="{{'login.UserNamePlaceHolder' | translate}}" [formControl]="login.form.controls['uname']">
                            </mat-form-field>
                            <small *ngIf="login.form.controls['uname'].hasError('required') && login.form.controls['uname'].touched" class="text-danger support-text">Username is required.</small>
                        </div>
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput [type]="login.hide ? 'password' : 'text'" placeholder="{{'login.PasswordPlaceHolder' | translate}}" [formControl]="login.form.controls['password']">
                                <button mat-icon-button matSuffix (click)="login.hide = !login.hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="login.hide">
                                  <mat-icon>{{ login.hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <small *ngIf="login.form.controls['password'].hasError('required') && login.form.controls['password'].touched" class="text-danger support-text">Password is required.</small>
                        </div>
                        <!-- col half-->
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                            <mat-checkbox color="warn">{{'login.rememberText' | translate}}</mat-checkbox>
                        </div>
                        <!-- col half-->
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="text-right">
                            <a [routerLink]="['/authentication/forgot']" class="link">{{'login.ForgotPasswordLinkText' | translate}}</a>
                        </div>
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="submit" [disabled]="!login.form.valid">{{'login.LoginButton' | translate}}</button>
                        </div>
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center">
                            <span>{{'login.BottomText' | translate}}
                                <a [routerLink]="['/authentication/register']" class="text-info link">{{'login.SignUpButton' | translate}}</a>
                            </span>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
