<div class="cross d-flex" fxLayout="row" (click)="closeModal()" fxLayoutAlign="center center">
  <mat-icon>close</mat-icon>
</div>
<mat-dialog-content>
  <div class="metadata">
    <div class="info">
      <ul class="pl-0 modal-left">
        <li>
          <span>{{'newMap.InformationModalUrlText' | translate}}: </span>
        </li>
        <li>
          <span>{{'newMap.InformationModalRatingText' | translate}}: </span>
        </li>
        <li>
          <span>{{'newMap.InformationModalGpsText' | translate}}: </span>
        </li>
        <li>
          <span>{{'newMap.InformationModalAddressText' | translate}}: </span>
        </li>
        <li>
          <span>{{'newMap.InformationModalDescriptionText' | translate}}: </span>
        </li>
        <li>
          <span>{{'newMap.InformationModalViewsText' | translate}}: </span>
        </li>
        <li>
          <span>{{'newMap.InformationModalSharedText' | translate}}: </span>
        </li>
        <li>
          <span>{{'newMap.InformationModalPublishedText' | translate}}: </span>
        </li>
        <li>
          <span>{{'newMap.InformationModalExpirationText' | translate}}: </span>
        </li>
      </ul>
      <ul class="pl-0 right modal-right">
        <li>
          <!-- panaroamer.com/<span>rosemarylipbalm</span> -->
          {{selectedItem?.url}}
        </li>
        <li>
          <star-rating size="medium" [disabled]="true" [starType]="'icon'" [rating]="selectedItem?.rating">
          </star-rating>
        </li>
        <li>
          {{convertDMS(selectedItem?.location.lat, selectedItem?.location.lng)}}
        </li>
        <li>
          {{selectedItem?.streetAddress}}
        </li>
        <li>
          Presentation related to {{selectedItem?.name}}
        </li>
        <li>
          <span>{{selectedItem?.views}} </span>
        </li>
        <li>
          <span>{{selectedItem?.shared}} </span>
        </li>
        <li>
          {{selectedItem?.published}}
        </li>
        <li>
          {{selectedItem?.expiration}}
        </li>
      </ul>
    </div>
    <div class="barcode float-right pl-2">
      <!-- <img src="assets/images/iconmonstr-qr-code-1.png"> -->
      <img width="62" height="62" src="assets/images/qr/{{selectedItem?.name}}.png">
    </div>
  </div>
</mat-dialog-content>
