.cross {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: #3c4252;
  border-radius: 100%;
  justify-content: center;
  align-items: center;

  .mat-icon {
      color: #ffffff;
      width: 16px;
      height: 16px;
      font-size: 16px;
  }
}

mat-dialog-content {
  ::ng-deep {
    margin: 0;
    .metadata {
      display: flex;
      justify-content: space-between;
    }
    .metadata .info {
        display: block;
        float: left;
        width: 80%;
    }
    .metadata .info .modal-left{
        width: 22%;
        float: left;
        position: relative;
    }
    .metadata .info .modal-right{
        width: 78%;
        padding: 0;
        float: left;
        position: relative;
    }
    .metadata .info .right li {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: 2px 0px;
    }
    .metadata .info ul > li {

      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      margin: 2px 0px;
    }
    .metadata .info ul > li > span {
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      padding-right: 10px;
    }
    ul {
      padding: 0;
      margin: 0;
    }
    ul li {
      list-style-type: none;
    }
  }
}
