<div class="cross d-flex" fxLayout="row" (click)="closeModal()" fxLayoutAlign="center center">
  <mat-icon>close</mat-icon>
</div>
<div mat-dialog-content>
  <div *ngIf="editImageInterface.imageBase64">
    <figure class="filter-{{editImageInterface.filter}}">
      <image-cropper
          class="image-cropper"
          [imageBase64]="editImageInterface.imageBase64"
          [maintainAspectRatio]="false"
          [containWithinAspectRatio]="containWithinAspectRatio"
          [cropperMinWidth]="128"
          [onlyScaleDown]="true"
          [roundCropper]="false"
          [canvasRotation]="editImageInterface.canvasRotation"
          [transform]="editImageInterface.transform"
          [alignImage]="'center'"
          [style.display]="editImageInterface.showCropper ? null : 'none'"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady($event)"
          (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </figure>
  </div>
  <div *ngIf="editImageInterface.imageUrl">
    <figure class="filter-{{editImageInterface.filter}}">
      <image-cropper
          class="image-cropper"
          [imageURL]="editImageInterface.imageUrl"
          [maintainAspectRatio]="false"
          [containWithinAspectRatio]="containWithinAspectRatio"
          [cropperMinWidth]="128"
          [onlyScaleDown]="true"
          [roundCropper]="false"
          [canvasRotation]="editImageInterface.canvasRotation"
          [transform]="editImageInterface.transform"
          [alignImage]="'center'"
          [style.display]="editImageInterface.showCropper ? null : 'none'"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady($event)"
          (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </figure>
  </div>
  <div class="rotate-image m-t-20 m-b-20" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-icon (click)="rotateLeft()">rotate_left</mat-icon>
    <mat-icon (click)="rotateRight()">rotate_right</mat-icon>
    <mat-icon (click)="zoomIn()">add</mat-icon>
    <mat-icon (click)="zoomOut()">remove</mat-icon>
    <mat-icon (click)="flipHorizontal()">swap_horiz</mat-icon>
    <mat-icon (click)="flipVertical()">import_export</mat-icon>
    <mat-icon (click)="resetImage()">restore</mat-icon>
  </div>
  <div class="filter-image" fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field appearance="outline">
      <mat-label>Filter</mat-label>
      <mat-select [(ngModel)]="editImageInterface.filter">
        <mat-option *ngFor="let filter of editImageInterface.filterOptions" [value]="filter.toLowerCase()">{{filter}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="p-b-20 m-r-10" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
  <button mat-raised-button class="m-r-10" (click)="triggerEvent()" color="primary">Upload</button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
