.cross {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: #3c4252;
  border-radius: 100%;
  justify-content: center;
  align-items: center;

  .mat-icon {
      color: #ffffff;
      width: 16px;
      height: 16px;
      font-size: 16px;
  }
}

.mat-dialog-content {
  overflow-x: hidden;
  margin: 10px;

  .rotate-image {
    mat-icon {
      font-size: 30px;
      cursor: pointer;
    }
  }

  .filter-image mat-form-field {
    width: 300px;
  }
}

.image-cropper {
  max-height: 50vh;
}
.actions {
  padding: 0 10px;
  justify-content: flex-end;;
}
