<div class="cross d-flex" fxLayout="row" (click)="closeModal()" fxLayoutAlign="center center">
  <mat-icon>close</mat-icon>
</div>
<mat-dialog-content>
  <form class="example-form">
    <mat-form-field appearance="outline" class="example-full-width">
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="shareDialogInterface.myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of shareDialogInterface.filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-dialog-content>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="p-r-20">
  <button mat-raised-button type="button" color="primary" (click)="onSubmit()">
    {{'newMap.ShareButtonToolTipText' | translate}}
  </button>
</div>
