<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div
  class="main-container"
  [dir]="utility.dir"
  [ngClass]="{
    rtl: utility.dir == 'rtl',
    minisidebar: utility.minisidebar,
    boxed: utility.boxed,
    danger: utility.danger,
    blue: utility.blue,
    green: utility.green,
    dark: utility.dark
  }"
>
  <!-- ============================================================== -->
  <!-- Topbar - style you can find in header.scss -->
  <!-- ============================================================== -->
  <mat-toolbar
    color="primary"
    [ngClass]="{ 'hide-sidenav': utility.isFullscreen }"
    class="topbar telative"
  >
    <!-- ============================================================== -->
    <!-- Logo - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <!-- Logo icon -->
        <!-- <b>
                    <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo">
                    <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo">
                </b> -->
        <!--End Logo icon -->
        <!-- Logo text -->
        <span fxShow="false" fxShow.gt-xs>
          <!-- dark Logo text -->
          <!-- <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo"> -->
          <!-- Light Logo text -->
          <img
            src="https://panaroamer-theming-test.s3.us-east-2.amazonaws.com/Panaroamer/assets/Sports/Group-221.png"
            class="desktop-logo"
            alt="homepage"
          />
        </span>
      </a>
    </div>
    <!-- ============================================================== -->
    <!-- sidebar toggle -->
    <!-- ============================================================== -->

    <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- ============================================================== -->
    <!-- Search - style you can find in header.scss -->
    <!-- ============================================================== -->
    <!-- <button mat-icon-button class="srh-btn" (click)="showSearch = !showSearch">
            <mat-icon>search</mat-icon>
        </button> -->
    <!-- <form class="app-search" [ngClass]="{'show-search': showSearch}">
            <input type="text" class="form-control" placeholder="Search &amp; enter">
            <a class="cl-srh-btn" (click)="showSearch = !showSearch">
                <i class="ti-close"></i>
            </a>
        </form> -->
    <span fxFlex></span>
    <!-- ============================================================== -->
    <!-- app header component - style you can find in header.scss / header.component.ts-->
    <!-- ============================================================== -->
    <app-header></app-header>
    <!-- ============================================================== -->
    <!-- Right sidebar toggle - style you can find in rightsidebar.component.scss -->
    <!-- ============================================================== -->
    <button
      (click)="end.toggle()"
      mat-icon-button
      class="ml-xs overflow-visible"
    >
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
  <!-- ============================================================== -->
  <!-- End Topbar - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="fullInterface.mobileQuery.matches ? 0 : 0"
    [ngClass]="{ minisidebar: utility.minisidebar }"
  >
    <!-- ============================================================== -->
    <!-- Sidebar - style you can find in sidebar.scss -->
    <!-- ============================================================== -->
    <mat-sidenav
      #snav
      id="snav"
      [ngClass]="{ 'hide-sidenav': utility.isFullscreen }"
      class="pl-xs"
      [mode]="fullInterface.mobileQuery.matches ? 'side' : 'over'"
      fixedTopGap="0"
      [opened]="fullInterface.mobileQuery.matches"
      [disableClose]="fullInterface.mobileQuery.matches"
      (open)="fullInterface.sidebarOpened = true"
      (close)="fullInterface.sidebarOpened = false"
      [perfectScrollbar]="config"
    >
      <app-sidebar class="app-sidebar"></app-sidebar>
    </mat-sidenav>
    <!-- ============================================================== -->

    <!-- placeholder="{{'full.LanguagePlaceholder' | translate}}" -->
    <!-- Sidebar - style you can find in sidebar.scss -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right Sidebar - style you can find in rightsidebar.component.scss -->
    <!-- ============================================================== -->
    <mat-sidenav #end position="end" mode="over" opened="false">
      <div class="scroll">
        <mat-nav-list>
          <h3 mat-subheader class="text-uppercase font-weight-bold">
            {{ "full.SettingsText" | translate }}
          </h3>
          <mat-form-field style="width: 75%; margin-left: 18px">
            <mat-select [(ngModel)]="fullInterface.selectedLanguage">
              <mat-option
                [value]="lan"
                *ngFor="let lan of fullInterface.languageArr"
                (click)="
                  fullInterface.selectedLanguage = lan;
                  changeLanguage();
                  end.close()
                "
              >
                <span>
                  <img
                    src="{{ lan.src }}"
                    style="
                      height: 22px;
                      width: 22px;
                      margin-bottom: -5px;
                      border-radius: 50%;
                    "
                  />
                </span>
                <span>
                  {{ lan.lang }}
                </span>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-list-item>
            <mat-slide-toggle
              color="warn"
              [checked]="utility.dirValue"
              (change)="toggle($event); end.close()"
              >{{ "full.RtlText" | translate }}</mat-slide-toggle
            >
          </mat-list-item>
          <mat-list-item>
            <mat-slide-toggle
              color="warn"
              [(ngModel)]="utility.boxed"
              (change)="end.close()"
              >{{ "full.BoxedLayoutText" | translate }}</mat-slide-toggle
            >
          </mat-list-item>
          <!--<mat-list-item>
                    <mat-slide-toggle [(ngModel)]="minisidebar">Mini Sidebar</mat-slide-toggle>
                  </mat-list-item>    -->
          <mat-divider></mat-divider>
          <h3 mat-subheader class="text-uppercase font-weight-bold">
            {{ "full.ColorsTitle" | translate }}
          </h3>
          <mat-list-item>
            <mat-checkbox
              color="warn"
              [(ngModel)]="utility.danger"
              (change)="
                utility.green = utility.blue = utility.dark = false; end.close()
              "
              class="text-danger"
              >{{ "full.RedText" | translate }}
            </mat-checkbox>
          </mat-list-item>
          <mat-list-item>
            <mat-checkbox
              color="warn"
              [(ngModel)]="utility.green"
              (change)="
                utility.danger = utility.blue = utility.dark = false;
                end.close()
              "
              class="text-megna"
              >{{ "full.TealGreenText" | translate }}</mat-checkbox
            >
          </mat-list-item>
          <mat-list-item>
            <mat-checkbox
              color="warn"
              [(ngModel)]="utility.blue"
              (change)="
                utility.green = utility.danger = utility.dark = false;
                end.close()
              "
              class="text-info"
              >{{ "full.BlueText" | translate }}
            </mat-checkbox>
          </mat-list-item>
          <mat-list-item>
            <mat-checkbox
              color="warn"
              [(ngModel)]="utility.dark"
              (change)="
                utility.green = utility.blue = utility.danger = false;
                end.close()
              "
              >{{ "full.DarkText" | translate }}</mat-checkbox
            >
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <!-- ============================================================== -->
    <!-- Page container - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <mat-sidenav-content
      class="page-wrapper"
      [ngClass]="{ 'hide-sidenav': utility.isFullscreen }"
    >
      <!-- <app-breadcrumb></app-breadcrumb> -->
      <div class="page-content">
        <ng-container *ngFor="let num of count(10); let i = index">
          <div
            [class.hide]="
              !utility.iframeUrlArr[i]?.isVisible || !fullInterface.isVisible
            "
          >
            <angular-ip-player
              *ngIf="utility.iframeUrlArr[i]?.url"
              [url]="utility.iframeUrlArr[i]?.url"
              [fullScreen]="utility.landscape"
              [load]="
                utility.iframeUrlArr[i]?.isVisible &&
                utility.iframeUrlArr[i]?.url
                  ? load()
                  : null
              "
            >
            </angular-ip-player>
          </div>
        </ng-container>

        <!-- <div [class.hide]="!utility.iframeUrlArr[0]?.isVisible || !isVisible">
          <angular-ip-player *ngIf="utility.iframeUrlArr[0]?.url"
            [url]="utility.iframeUrlArr[0]?.url"
            [fullScreen]="utility.landscape"
            [load]="utility.iframeUrlArr[0]?.isVisible && utility.iframeUrlArr[0]?.url ? load() : null">
          </angular-ip-player>
        </div>

        <div [class.hide]="!utility.iframeUrlArr[1]?.isVisible || !isVisible">
          <angular-ip-player *ngIf="utility.iframeUrlArr[1]?.url"
            [url]="utility.iframeUrlArr[1]?.url"
            [fullScreen]="utility.landscape"
            [load]="utility.iframeUrlArr[1]?.isVisible && utility.iframeUrlArr[1]?.url ? load() : null">
          </angular-ip-player>
        </div>

        <div [class.hide]="!utility.iframeUrlArr[2]?.isVisible || !isVisible">
          <angular-ip-player *ngIf="utility.iframeUrlArr[2]?.url"
            [url]="utility.iframeUrlArr[2]?.url"
            [fullScreen]="utility.landscape"
            [load]="utility.iframeUrlArr[2]?.isVisible && utility.iframeUrlArr[2]?.url ? load() : null">
          </angular-ip-player>
        </div> -->

        <!-- <iframe class="play-iframe" [class.hide]="!utility.iframeUrlArr[0]?.isVisible || !isVisible"
          [ngClass]="{'fullScreen': utility.landscape}" *ngIf="utility.iframeUrlArr[0]?.url"
          [src]="utility.iframeUrlArr[0].typeSafeUrl" #iFrame0 scrolling="no"
          (load)="utility.iframeUrlArr[0]?.isVisible && utility.iframeUrlArr[0]?.url ? handleIframeLoad() : null"></iframe>
        <iframe class="play-iframe"  [class.hide]="!utility.iframeUrlArr[1]?.isVisible || !isVisible"
          (load)="utility.iframeUrlArr[1]?.isVisible && utility.iframeUrlArr[1]?.url? handleIframeLoad() : null"
          [ngClass]="{'fullScreen': utility.landscape}" *ngIf="utility.iframeUrlArr[1]?.url"
          [src]="utility.iframeUrlArr[1].typeSafeUrl" #iFrame1 scrolling="no"></iframe>
        <iframe class="play-iframe"  [class.hide]="!utility.iframeUrlArr[2]?.isVisible || !isVisible"
          (load)="utility.iframeUrlArr[2]?.isVisible && utility.iframeUrlArr[2]?.url? handleIframeLoad() : null"
          [ngClass]="{'fullScreen': utility.landscape}" *ngIf="utility.iframeUrlArr[2]?.url"
          [src]="utility.iframeUrlArr[2].typeSafeUrl" #iFrame2 scrolling="no"></iframe>
        <iframe class="play-iframe"  [class.hide]="!utility.iframeUrlArr[3]?.isVisible || !isVisible"
          (load)="utility.iframeUrlArr[3]?.isVisible && utility.iframeUrlArr[3]?.url? handleIframeLoad() : null"
          [ngClass]="{'fullScreen': utility.landscape}" *ngIf="utility.iframeUrlArr[3]?.url"
          [src]="utility.iframeUrlArr[3].typeSafeUrl" #iFrame3 scrolling="no"></iframe>
        <iframe class="play-iframe"  [class.hide]="!utility.iframeUrlArr[4]?.isVisible || !isVisible"
          (load)="utility.iframeUrlArr[4]?.isVisible && utility.iframeUrlArr[4]?.url? handleIframeLoad() : null"
          [ngClass]="{'fullScreen': utility.landscape}" *ngIf="utility.iframeUrlArr[4]?.url"
          [src]="utility.iframeUrlArr[4].typeSafeUrl" #iFrame4 scrolling="no"></iframe>
        <iframe class="play-iframe"  [class.hide]="!utility.iframeUrlArr[5]?.isVisible || !isVisible"
          (load)="utility.iframeUrlArr[5]?.isVisible && utility.iframeUrlArr[5]?.url? handleIframeLoad() : null"
          [ngClass]="{'fullScreen': utility.landscape}" *ngIf="utility.iframeUrlArr[5]?.url"
          [src]="utility.iframeUrlArr[5].typeSafeUrl" #iFrame5 scrolling="no"></iframe>
        <iframe class="play-iframe"  [class.hide]="!utility.iframeUrlArr[6]?.isVisible || !isVisible"
          (load)="utility.iframeUrlArr[6]?.isVisible && utility.iframeUrlArr[6]?.url? handleIframeLoad() : null"
          [ngClass]="{'fullScreen': utility.landscape}" *ngIf="utility.iframeUrlArr[6]?.url"
          [src]="utility.iframeUrlArr[6].typeSafeUrl" #iFrame6 scrolling="no"></iframe>
        <iframe class="play-iframe"  [class.hide]="!utility.iframeUrlArr[7]?.isVisible || !isVisible"
          (load)="utility.iframeUrlArr[7]?.isVisible && utility.iframeUrlArr[7]?.url? handleIframeLoad() : null"
          [ngClass]="{'fullScreen': utility.landscape}" *ngIf="utility.iframeUrlArr[7]?.url"
          [src]="utility.iframeUrlArr[7].typeSafeUrl" #iFrame7 scrolling="no"></iframe>
        <iframe class="play-iframe"  [class.hide]="!utility.iframeUrlArr[8]?.isVisible || !isVisible"
          (load)="utility.iframeUrlArr[8]?.isVisible && utility.iframeUrlArr[8]?.url? handleIframeLoad() : null"
          [ngClass]="{'fullScreen': utility.landscape}" *ngIf="utility.iframeUrlArr[8]?.url"
          [src]="utility.iframeUrlArr[8].typeSafeUrl" #iFrame8 scrolling="no"></iframe>
        <iframe class="play-iframe"  [class.hide]="!utility.iframeUrlArr[9]?.isVisible || !isVisible"
          (load)="utility.iframeUrlArr[9]?.isVisible && utility.iframeUrlArr[9]?.url? handleIframeLoad() : null"
          [ngClass]="{'fullScreen': utility.landscape}" *ngIf="utility.iframeUrlArr[9]?.url"
          [src]="utility.iframeUrlArr[9].typeSafeUrl" #iFrame9 scrolling="no"></iframe> -->
        <div
          class="reveal-wrapper"
          [ngClass]="{ fullScreen: utility.landscape == true }"
          *ngIf="utility.preview && fullInterface.artifacts"
        >
          <app-ip-preview
            [Ip]="fullInterface.artifacts"
            class="h-100"
          ></app-ip-preview>
        </div>
        <router-outlet>
          <app-spinner></app-spinner>
        </router-outlet>
      </div>
    </mat-sidenav-content>
    <!-- ============================================================== -->
    <!-- Page container - style you can find in pages.scss -->
    <!-- ============================================================== -->
  </mat-sidenav-container>
</div>
