.cross {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  z-index: 999;
  height: 20px;
  cursor: pointer;
  background: #3c4252;
  border-radius: 100%;
  justify-content: center;
  align-items: center;

  .mat-icon {
    color: #ffffff;
    width: 16px;
    height: 16px;
    font-size: 16px;
  }
}
.leaf-map {
  height: calc(100vh - 95px);
  margin: 0;
  width: 98.7vw;
}

.mat-dialog-content {
  max-height: 100vh !important;
}
.path-icon {
  background: #fff;
  position: absolute;
  z-index: 99999;
  color: black; 
  width: 27px;
  height: 27px;
  bottom: 126px;
  left: 10px;
  min-width: 26px;
  max-width: 30px;
  line-height: 26px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  padding: 1px 6px !important;
  border-radius: 5px;
  border-color: whitesmoke;

  img {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 18px;
    height: 18px;
  }
}
.done-btn {
  background: #fff;
  z-index: 99999;
  color: black;
  line-height: 26px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  padding: 1px 6px !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  top: 87px;
  left: 9px;
}
