<div class="cross d-flex" fxLayout="row" (click)="closeDialog()" fxLayoutAlign="center center">
    <mat-icon>close</mat-icon>
</div>
<div class="mat-dialog-content map-container" >
    <button class="done-btn" mat-button (click)="pathCreated()" *ngIf="mapInterface.drawPath">Done</button>
    <button class="path-icon" (click)="showPath()"><img [src]="'assets/icons/map-path.png'"></button> 
    <div leaflet class="leaf-map" (leafletMapReady)="onMapReady($event)" (leafletClick)="onMapClick($event)" [leafletOptions]="mapInterface.options" [leafletCenter]="mapInterface.center" [leafletLayers]="mapInterface.markers">
        
    </div>
</div>
<div mat-dialog-actions class="p-b-20 m-r-10" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
    <button mat-raised-button class="m-r-10" (click)="closeModal()" color="primary">Done</button>
</div>
