.route-shortcut h6 {
  margin: 8px 0 0 0;
}
.topbar{
    position: absolute;
    top:0;
    background-color: transparent;
    box-shadow: none;
}

.settings-icon{
    position: absolute;
    right: 0;
}

.chat-panel{
    margin-top:50px;
}
.displayPanel{
    display: block;
}
.hidePanel{
    display: none;
}
.btn-block{
  background-color: #3f51b5;
}



