<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
  <div class="login-register-box">
    <mat-card>
      <mat-card-content>
        <form>
          <div class="text-center">
            <img alt="homepage" src="https://panaroamer-theming-test.s3.us-east-2.amazonaws.com/Panaroamer/assets/Sports/Group-221.png">
            <!-- <h4 class="m-t-0">Register to App</h4> -->
          </div>
          <div fxLayout="row wrap">
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="{{'home.SearchPlaceholder' | translate}}" type="text">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
            <button mat-raised-button color="primary" routerLink="/builder" class="btn-block btn-lg m-t-12 m-b-20" type="button">
              {{'home.PresentationBuilderButton' | translate}}
            </button>
            <!-- col full-->
            <div fxLayout="row" fxFlex="100" class="route-shortcut m-t-12 m-b-20">
              <!-- column -->
              <div fxLayoutAlign="start center" fxLayout="column" fxFlex="25">
                <button mat-fab color="accent" routerLink="/qr-scanner" mat-card-icon class="shadow-none">
                    <mat-icon>qr_code_scanner</mat-icon>
                </button>
                <h6 class="text-center text-muted">{{'home.QRCodeLabel' | translate}}</h6>
              </div>
              <div fxLayoutAlign="start center" fxLayout="column" fxFlex="30">
                <button mat-fab color="primary" mat-card-icon class="bg-success shadow-none">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <h6 class="text-center text-muted">{{'home.ArLabel' | translate}}</h6>
              </div>
              <div fxLayoutAlign="start center" fxLayout="column" fxFlex="25">
                <button mat-fab color="primary" routerLink="/map" mat-card-icon class="bg-warning shadow-none">
                    <mat-icon>public</mat-icon>
                </button>
                <h6 class="text-center text-muted">{{'home.ExploreSurroundingLabel' | translate}}</h6>
              </div>
              <div fxLayoutAlign="start center" fxLayout="column" fxFlex="25">
                <button mat-fab color="primary" routerLink="/gallery" mat-card-icon class="bg-danger shadow-none">
                    <mat-icon>photo_library</mat-icon>
                </button>
                <h6 class="text-center text-muted">{{'home.GalleryLabel' | translate}}</h6>
              </div>
              <!-- column -->
            </div>
            <ng-container *ngIf="!isLogin">
              <button mat-raised-button routerLink="/authentication/login" [ngClass]='{"red": utility.danger}' color="primary" class="btn-block btn-lg m-t-12 m-b-12">
                {{'home.LoginButton' | translate}}
              </button>
              <button mat-raised-button routerLink="/authentication/register" color="primary" class="btn-block btn-lg m-t-20 m-b-20">
                {{'home.SignUpButton' | translate}}
              </button>
            </ng-container>
            <button mat-raised-button *ngIf="isLogin" (click)="utility.logOut();isLogin = false;utility.setLoader(false)" color="primary" class="btn-block btn-lg m-t-20 m-b-20" >
              {{'home.LogoutButton' | translate}}
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
