.cross {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: #3c4252;
  border-radius: 100%;
  justify-content: center;
  align-items: center;

  .mat-icon {
      color: #ffffff;
      width: 16px;
      height: 16px;
      font-size: 16px;
  }
}

mat-dialog-content {
  ::ng-deep {
    margin: 0;
    padding: 0 15px;

    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(.75);
      width: 133.33333%;
    }

    mat-form-field.mat-form-field-appearance-outline {
      ::ng-deep {
        .mat-form-field-wrapper { padding: 0;}
        .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
        .mat-form-field-label-wrapper { top: -1.5em; }
        .mat-form-field-outline-thick .mat-form-field-outline-start,
        .mat-form-field-outline-thick .mat-form-field-outline-end,
        .mat-form-field-outline-thick .mat-form-field-outline-gap {
          border-width: 1px !important;
        }
      }
    }
  }
}
mat-dialog-actions {
  min-height: 0px;
  padding: 16px 15px;
}
