<div class="cross d-flex" fxLayout="row" (click)="closeModal()" fxLayoutAlign="center center">
  <mat-icon>close</mat-icon>
</div>
<mat-dialog-content>
  <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutGap.lt-sm="0px" fxLayoutAlign="center center">
    <mat-form-field appearance="outline" fxFlex="48%" fxFlex.lt-sm="100%">
      <mat-label>{{'Payments.StartDateTime' | translate}}</mat-label>
      <input matInput [(ngModel)]="startDate" [owlDateTime]="dt1">
      <mat-icon matSuffix [owlDateTimeTrigger]="dt1">today</mat-icon>
      <owl-date-time #dt1></owl-date-time>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex=48% fxFlex.lt-sm="100%">
      <mat-label>{{'Payments.EndDateTime' | translate}}</mat-label>
      <input matInput [(ngModel)]="endDate" [owlDateTime]="dt2">
      <mat-icon matSuffix [owlDateTimeTrigger]="dt2">today</mat-icon>
      <owl-date-time #dt2></owl-date-time>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign.lt-sm="start center" fxLayoutAlign="end center">
  <button mat-raised-button [disabled]="!startDate || !endDate" (click)="makePayment()" color="primary" cdkFocusInitial>
    {{'Payments.MakePayment' | translate}}
  </button>
  <button class="m-l-16" mat-button mat-dialog-close>
    {{'DeleteModal.CancelButton' | translate}}
  </button>
</mat-dialog-actions>
